<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<style>


	
	.change-you-life1 {
    background-image: url("../images/orange-back.png");
    width: 100%;
    padding-top: 60px;
    padding-bottom: 122px;
}
.footer-subscribe-input1 {
    /*background: #333 none repeat scroll 0% 0%;*/
    border: 0px none;
    border-radius: 5px 0px 0px 5px;
    height: 42px;
    display: inline-block;
    width: 78%;
    outline: medium none;
}
</style>
<div class="topborder"></div>
<div class="social-iconBox">
  <div class="container">
    <div class="col-md-9 top-email">
      <span>Bethany Gettis - Holistic Nutritionist</span>
      <span>+1 403 612 7767 </span>
      <span>nutrition4yoursoul@gmail.com</span>
</div>
    <div class="col-md-3 social-icons">
      <span><i class="fa fa-facebook"></i></span>
      <span><i class="fa fa-twitter"></i></span>
      <span><i class="fa fa-instagram"></i></span>
      
</div>
  </div>
  <hr class="hr-dot">
</div>
<nav class="navbar navbar-background" role="navigation" style="margin-top: -40px;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle menu_space" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="company-logo" href="#"><img src="images/logo.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-right-pull" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li style="font-family:'lobster' , cursive;"><%= link_to 'Home' , root_path, :class => 'link-second-click' %></li>
        <li><%= link_to 'ABOUT' , about_path %></li>
        <li><%= link_to 'PACKAGES' , packages_path %></li>
        <li><%= link_to 'STORE' , store_path %></li>
        <li><%= link_to 'BLOG' , blog_list_path %></li>
        <li><%= link_to 'CONTACT' , new_contact_path %></li>
        <li><input type="text" name="search" class="input-search" placeholder="CONTACT NUTRITIONIST" style="font-weight: bold;"></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
	
<header class="sub_header sub_header_images">
	<div class="container">
		<div class="sub_header_title">About Us</div>
		<div class="sub_header_detail">Learn more about Nutritious &amp; Delicious and our goals for you.</div>
	</div>
</header>

<div class="sub_header_flower"> <img src="images/header-flower.png" alt=""> </div>

<div class="sub_breadcrumb">
	<div class="white_dashed"></div>
	<div class="container">
		<div class="sub_top_menu">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">About Us</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="green_sub_border col-sm-12"></div>

<div class="subhead_our_mission col-sm-12">
	<div class="container">
		<div class="subhead_our_mission_title">Our Mission</div>
		<div class="subhead_our_mission_subtitle">Learn more about what we stand for at Nutritious &amp; Delicious.</div>
		
		<div class="subhead_our_mission_detail">
			<p style="font-family:'Tahoma';">Our goal at Nutritious &amp; Delicious is to help lead individuals and families to their optimal nutritional health for the long term. We cater to clients who want long term physical and mental health using our unique healthy lifestyle system.  As a Holistic Nutritionist I want to tailor a healthy nutritious lifestyle plan for you or your family, guiding you with nutritious ingredients that you can use to make your favorite meals even healthier. We strive on being professional and family orientated to meet everyone’s needs as we are all unique with what we like and dislike.</p>

<p style="font-family:'Tahoma';">Nutritious and Delicious is a unique company where we tailor make our food plans to you and your family. We take into consideration everyone’s needs so we are able to let each person eat as clean as possible by you still making the foods you love and crave. Our ultimate goal is to help the population live longer and healthier, to be happy with their bodies and adopt a leadership mentality in the choices eaten at home, what to buy at the grocery store, what you choose to eat out at restaurants and throughout the difficult temptations of holiday treats and while traveling abroad.</p> </div>
	</div>
</div>

<div class="meet-our-holistic col-sm-12">
<div class="gray_dashed"></div>
	<div class="container">
	
		<div class="meet-our-holistic-padding">	
			<div class="meet_our_holistic_border">Meet Our Holistic Nutritionist</div>
			<div>Get to know the founder of Nutritious &amp; Delicious.</div>
		</div>
		<div class="col-sm-12 meet-our-info paddingNone">
			<div class="col-sm-3 meet-our-info-images">asd</div>
			<div class="col-sm-8 meet-our-info-detail">
				<div class="row">
				<div class="col-md-6">
					<div class="col-md-12 meet-our-holistic-title">Bethany Gettis</div>
					<div class="col-md-12 meet-our-holistic-subtitle">Holistic Nutritionist / Business Owner</div>
				</div>
				<div class="col-md-6 meet-our-white-social-icons">
					<span><i class="fa fa-facebook"></i></span>
					<span><i class="fa fa-twitter"></i></span>
					
					<span><i class="fa fa-instagram"></i></span>
					
				</div>
				</div>
				
				<div class="col-sm-12 meet-our-white-detail">
					<p style="font-family:'Tahoma';">I have worked in the healthcare industry since 2008 as a Licensed practical Nurse, I choose to specialize in Nutrition throughout my practice for those 5 years and within those years found a huge deficit in certain areas that lead me to go back to school and earn my RHN license from CSNN (Canada School of Natural Nutrition) in 2010.</p>

<p style="font-family:'Tahoma';">With my years of experience counselling individuals and doing group consultations, I realized the general population had the same sort of problems that still hadn’t been met. These included lack of time to plan for food due to life circumstances, lack of education in reading food labels and knowing what is actually considered healthy food, too many strict dieting programs leading to all or nothing thinking and not keeping the weight off permanently, seasonal holiday stress and lack of motivation around stampede, Christmas, birthdays or events.</p>

<p style="font-family:'Tahoma';">I took a few years break raising my two wonderful boys named Kayden and Jayce, and have been privileged to start my own company at home with my family around which has been my ultimate dream. I have wanted to help others for as long as I can remember and I believe we can all live the well rounded life we desire. I hope to encourage you and give you the determination that you need in order to feel happier physically, mentally and spiritually by changing the way you see food.</p>

<p style="font-family:'Tahoma';">As a busy mom myself I know how hard it can be to think of meals, let alone prepare them. I am here to firstly show you healthier alternatives to what you eat currently. I will come to your home and sort through your pantry and come up with a grocery list so we can later shop together and I can teach you what’s really in your foods. Then I can devise meal plans that suite your family’s needs and likes without compromising taste. This will result in a happier, healthier, family overall which is my ultimate goal for you. </p>

				</div>
				
			</div>
		</div>
	</div>
</div>


<div class="yummy-recipes-border col-sm-12"></div>
<div class="customers-saying col-sm-12">
	<div class="container">
		<div class="customers-saying-title">What Customers Are Saying</div>
		<div class="customers-saying-subtitle">See for your self some of the dramatic results we have created for our clients.</div>
	</div>
	<div class="container">
		<div class="carousel slide" id="customers-quote-carousel" data-ride="carousel" data-interval="3000">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="item active blog_posts">

					<div class="col-md-6">
						<div class="customers-box col-sm-12">
						<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
						<div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was</div>
						<div class="customers-box-arrow"></div>
						</div>
						<div class="customers-info col-sm-12 paddingNone">
							<div class="customers-name">Kara H</div>
							<div class="customers-address">Home Owner, Aspen Woods - Calgary</div>
						</div>
		</div>

					<div class="col-md-6">
						<div class="customers-box col-sm-12">
						<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
						<div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was</div>
						<div class="customers-box-arrow"></div>
						</div>
						<div class="customers-info col-sm-12 paddingNone">
							<div class="customers-name">Jeebon Heza</div>
							<div class="customers-address">Home Owner, Newyork</div>
						</div>
		</div>

				</div>
				<div class="item blog_posts">
					<div class="col-md-6">
						<div class="customers-box col-sm-12">
						<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
						<div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was</div>
						<div class="customers-box-arrow"></div>
						</div>
						<div class="customers-info col-sm-12 paddingNone">
							<div class="customers-name">Kara H</div>
							<div class="customers-address">Home Owner, Aspen Woods - Calgary</div>
						</div>
		</div>

					<div class="col-md-6">
						<div class="customers-box col-sm-12">
						<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
						<div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was</div>
						<div class="customers-box-arrow"></div>
						</div>
						<div class="customers-info col-sm-12 paddingNone">
							<div class="customers-name">Jeebon Heza</div>
							<div class="customers-address">Home Owner, Newyork</div>
						</div>
		</div>

				</div>
				<div class="item blog_posts">
					<div class="col-md-6">
						<div class="customers-box col-sm-12">
						<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
						<div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was</div>
						<div class="customers-box-arrow"></div>
						</div>
						<div class="customers-info col-sm-12 paddingNone">
							<div class="customers-name">Kara H</div>
							<div class="customers-address">Home Owner, Aspen Woods - Calgary</div>
						</div>
		</div>

					<div class="col-md-6">
						<div class="customers-box col-sm-12">
						<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
						<div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was</div>
						<div class="customers-box-arrow"></div>
						</div>
						<div class="customers-info col-sm-12 paddingNone">
							<div class="customers-name">Jeebon Heza</div>
							<div class="customers-address">Home Owner, Newyork</div>
						</div>
		</div>
				</div>
			</div>
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#customers-quote-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#customers-quote-carousel" data-slide-to="1" class=""></li>
				<li data-target="#customers-quote-carousel" data-slide-to="2" class=""></li>
			</ol>	  
		</div>
	</div>
</div>







<footer>
	<div class="container">
		<div class="col-md-3">
			<div><img src="images/footer-logo.png" class="img-responsive" alt=""></div>
			<div class="footer-about-detail">Neque arcu tincidunt neque pharetra code uct modo nibh leo non libero. Cras augues ipsum mpharetra inter sed. Integ er anterl nunc accumsan sed tempus rutrum.</div>
			<div class="footer-about-readMore">Read More</div>
			<div class="subscribe-newsletter">Subscribe Newsletter</div>

			<div>
		        <% if notice %>
		          <p class="alert alert-success"><%= notice %></p>
		        <% end %>
		        <%= form_for @newsletter, :url => {:action => "add_newsletter"},:remote => false, :class => "" do |f| %>
		        <%= f.text_field :email, autofocus: true, required: true, :placeholder => "Email", :class => 'footer-subscribe-input1' %>
		        <%= hidden_field_tag(:status,value='1')%>
		        <%= f.submit "Send", :class => "footer-subscribe-button",:style => 'width: 25%;' %>
		        <!--button class="footer-subscribe-button"><i class="fa fa-envelope-o"></i></button-->
		        <% end %>
		      </div>

		</div>
		<div class="col-md-3">
			<div class="latest-tweets-title">Latest Tweets</div>
			<ul class="latest-tweets-list">
				<li>
					<div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
					<div class="latest-tweets-time">1 minute ago</div>
				</li>
				<li>
					<div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
					<div class="latest-tweets-time">1 minute ago</div>
				</li>
				<li>
					<div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
					<div class="latest-tweets-time">1 minute ago</div>
				</li>
			</ul>
		</div>
		<div class="col-md-3">
			<div class="latest-tweets-title">Instagram Feed</div>
			<ul class="latest-instagram-list">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="col-md-3">
			<div class="col-md-12">
				<div class="latest-tweets-title">Contact Info</div>
				<div class="row contact-fild">
					<div class="col-md-5 contact-title">Address:</div>
					<div class="col-md-7 contact-name">151 West Srpints Road SW <br>Calgary, AB <br>T3H 4P6</div>
				</div>
				<div class="row contact-fild">
					<div class="col-md-5 contact-title">CA Office:</div>
					<div class="col-md-7 contact-name">+ 1 403 612 7767</div>
				</div>


				<div class="row contact-fild">
					<div class="col-md-5 contact-title">Email:</div>
					<div class="col-md-7 contact-name">nutrition4yoursoul@gmail.com</div>
				</div>
				
				<div class="row contact-fild">
					<div class="send-message-box">Send Message</div>
				</div>
				
			</div>
		</div>
	</div>
</footer>
<div class="footer-border"></div>
<div class="copyright-Box">
	<div class="container">
		<div class="col-sm-6 copyright-text">
			Copyrights Nutritious &amp; Delicious 2015
		</div>
		<div class="col-sm-6">
			<ul class="footer-menu-list">
		        <li><%= link_to 'HOME' , root_path, :class => 'active' %></li>
		        <li><%= link_to 'ABOUT' , about_path %></li>
		        <li><%= link_to 'PACKAGES' , packages_path %></li>
		        <li><%= link_to 'STORE' , store_path %></li>
		        <li><%= link_to 'BLOG' , blog_list_path %></li>
		        <li><%= link_to 'CONTACT' , new_contact_path %></li>
			</ul>
		</div>
	</div>	
</div>