<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<style>
.footer-subscribe-input1 {
    /*background: #333 none repeat scroll 0% 0%;*/
    border: 0px none;
    border-radius: 5px 0px 0px 5px;
    height: 42px;
    display: inline-block;
    width: 78%;
    outline: medium none;
}
</style>
<div class="topborder"></div>

  <div class="white-social-iconBox">
  	<div class="container">
  		<div class="col-md-8 white-top-email">
  			<span>Bethany Gettis - Holistic Nutritionist</span>
  			<span>+1 403 612 7767 </span>
  			<span>nutrition4yoursoul@gmail.com</span>
  		</div>
  		<div class="col-md-4 white-social-icons">
  			<span><i class="fa fa-facebook"></i></span>
  			<span><i class="fa fa-twitter"></i></span>
  			<span><i class="fa fa-instagram"></i></span>
  			
  		</div>
  	</div>
  	<hr class="hr-dot">
  </div>


  <nav class="navbar-default navbar-background" role="navigation">
  		<div class="container">
  			<!-- Brand and toggle get grouped for better mobile display -->
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="company-sublogo" href="#"><img src="images/sub-logo.png" alt=""></a>
  			</div>

  			<!-- Collect the nav links, forms, and other content for toggling -->
  			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  				<ul class="nav navbar-nav navbar-right">
  					<li>
  						<form class="navbar-form" role="search">
  							<div class="input-group">
  								<input type="text" class="form-control pull-right" style="font-size:14px;width: 250px; background-color: #fff;" placeholder="Search...">
  								<span class="input-group-btn">
  									<button type="reset" class="btn btn-default">
  										<span class="glyphicon glyphicon-remove">
  											<span class="sr-only">Close</span>
  										</span>
  									</button>
  									<button type="submit" class="btn btn-default search-button">
  										<span class="glyphicon glyphicon-search">
  											<span class="sr-only">Search</span>
  										</span>
  									</button>
  								</span>
  							</div>
  						</form>
  					</li>

  					<li style="font-family:'lobster' , cursive;"><%= link_to 'Home' , root_path, :class => 'link-second-click' %></li>
            <li><%= link_to 'ABOUT' , about_path %></li>
            <li><%= link_to 'PACKAGES' , package_path %></li>
            <li><%= link_to 'STORE' , store_path %></li>
            <li><%= link_to 'BLOG' , blog_list_path %></li>
            <li><%= link_to 'CONTACT' , new_contact_path %></li><input type="text" name="search" class="input-search" placeholder="CONTACT NUTRITIONIST" style="font-weight: bold;"></li>

  				</ul>
  			</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
  	</nav>
  	
  <header class="sub_header sub_header_contact_bg">
  	<div class="container">
  		<div class="sub_header_title">Blog</div>
  		<div class="sub_header_detail">Have a question or comment? Get in touch!</div>
  	</div>
  </header>

  <div class="sub_header_flower"> <img src="images/header-flower.png" alt=""> </div>

  <div class="sub_breadcrumb">
  	<div class="white_dashed"></div>
  	<div class="container">
  		<div class="sub_top_menu">
  			<ul>
  				<li><a href="">Home</a></li>
  				<li><a href="">About Us</a></li>
  			</ul>
  		</div>
  	</div>
  </div>

  <div class="green_dot_border"></div>
  <div class="blog_container">
  	<div class="container">
  		<div class="col-md-3">
             <div class="col-sm-12 blog_left_item">
                 <div class="row">
                  <div class="blog_categories">Categories</div>
                  <ul class="blog_categories_list">
                      <% @cats = Category.all %>
                      <% @cats.each do |cat| %>
                      <li><%= cat.name %></li>
                      <% end %>
                  </ul>
                  </div>
              </div>
              
             <div class="col-sm-12 blog_left_item">
                 <div class="row">
                  <div class="blog_categories">Recent Post</div>
                      <% @blogs = Blog.all.order(:created_at).limit(5) %>
                      <% @blogs.each do |blog| %>
                      <div class="col-sm-12 recent_post_box">
                          <div class="recent_post_cate_name"><%= blog.title %></div>
                          <div class="recent_post_cate_date"><img src="images/time_icon.png" alt=""><samp><%= blog.created_at.strftime('%B') %>&nbsp;<%= blog.created_at.strftime('%d') %>, <%= blog.created_at.strftime('%Y') %></samp></div>
                      </div>
                      <% end %>
                
                  </div>
              </div>
              
              <div class="col-sm-12 paddingNone blog_left_item">
                  <div class="offer_limit">
                      <div class="offer_limit_title1">Limited Time</div>
                      <div class="offer_limit_title2"><span>offer</span></div>
                      <div class="offer_limit_text">
                          <div class="offer_limit_price">20% OFF</div>
                          <div class="offer_limit_price_detail">Save 20% For 2 or More Packahes Within The Same Family</div>
                      </div>
                  </div>
              </div>  
          </div>
          <div class="col-md-9">          
              <!-------------------------------------- post detail ---------------------------------->
              <% @users = User.where(:id => @blog.user_id) %>
           <% @cateories = Category.where(:id => @blog.catgory_id) %>
              <div class="col-sm-12 blog-post">
                  <div class="row">
                      <ul class="blog-user-info">
                          <% @users.each do |user| %>
                        <li><i class="fa fa-user"></i><span>By <%= user.email %></span></li>
                        <% end %>
                          <% @cateories.each do |cat| %>
                        <li><i class="fa fa-folder-open"></i><span><%= cat.name %></span></li>
                        <% end %>
                          <li><i class="fa fa-comment"></i><span><%=  @total_comment.count %> Comment</span></li>
                      </ul>
                  </div>
                  
                  <div class="row blog_post_title"><%= @blog.title %></div>
                  <div class="row blog_head_box">
                     <div class="blog_head_img"><img src="images/blog-img.jpg" class="img-responsive" alt=""></div>
                      <div class="blog_head_date">
                          <div class="blog_head_date_day"><%= @blog.created_at.strftime('%d') %></div>
                          <div class="blog_head_date_month"><%= @blog.created_at.strftime('%b') %></div>
                      </div>
                  </div>
                  <div class="row blog-detail">
                      <p><%= @blog.decsription %></p>
                      
                      <div class="post_alert_message">
                         <div class="post_alert_message_title"> this is demo class this is demo class this is demo class this is demo class this is </div>
                         <div class="post_alert_message_postauther">this is demo class this</div>
                         <div class="post_alert_message_postpost">is demo class</div>
                      </div>
                      
                      
                      
                      <p></p>
          <p></p>
                     
                     <div class="row">
                         <div class="col-sm-6"></div>
                         <div class="col-sm-6"><img src="images/post_image.png"  class="img-responsive"  alt=""></div>
                     </div>
                     
                     
                     <div class="row tagsAndShare">
                         <div class="col-sm-12">
                             <div class="col-sm-1 tag_title"></div>
                             <div class="col-sm-11 tag_subtitle"></div>
                         </div>
                         <div class="col-sm-12"></div>
                     </div>
                  </div>
              </div>
              
              <div class="blog_comment_section">
                  <div class="row">
                    <div class="col-sm-12 post_comment_tagName">Post Comment</div>
                      <%= form_for @comment, :url => {:action => "add_comment"}, :class => "" do |f| %>
                      <%= hidden_field_tag(:blog_id,value=params[:id])%>
                      <div class="post_comment_inputBox">
                      <% if notice %>
                        <p class="alert alert-success"><%= notice %></p>
                      <% end %>
                          <div class="col-sm-6">
                              <%= f.text_field :name, autofocus: true, required: true, :placeholder => "Full Name" %>
                          </div>
                          <div class="col-md-4">
                              <%= f.email_field :email, required: true, :placeholder => "Email Address"%>
                          </div>
                          <div class="col-sm-12">
                            <%= f.text_area :message, required: true, :placeholder => "Your Message" %>
                          </div>
                            <div class="col-md-12">
                              <%= f.submit "POST COMMENT", :class => "contact-submit" %>
                            </div>
                        </div>
                      </div>
                    </div>
                  <% end %>







                      <!--div class="post_comment_inputBox">
                          <div class="col-sm-6">
                          <input type="text" name="name" placeholder="Full Name"></div>
                          <div class="col-sm-6"><input type="text" name="name" placeholder="Email Address"></div>
                          <div class="col-sm-12"><textarea placeholder="Your Comment..."></textarea></div>
                          <div class="col-sm-12"><input type="submit" value="Post Comment"></div>
                      </div-->
                  </div>
              </div>
              
              <div class="blog_comment_list">
                 <div class="row">
                    
                     <div class="col-sm-12 blog_comment_list_title">Comment</div>
                     
                     <% @total_comment.each do |comment| %>
                     <div class="col-sm-12 user_comment_box">
                         <div class="col-sm-2">
                             <div class="comment_user_pic"></div>
                         </div>
                         <div class="col-sm-8">
                             <div class="comment_user_info">
                                 <span class="comment_user_title"><%= comment.name %></span>
                                 <span class="comment_user_date">Posted : <%= comment.created_at.strftime('%B') %>&nbsp;<%= comment.created_at.strftime('%d') %>, <%= comment.created_at.strftime('%Y') %> at <%= comment.created_at.strftime('%H') %><%= comment.created_at.strftime('%p') %></span>
                             </div>
                             <div class="comment_user_text">
                                 <%= comment.message %>
                             </div>
                             
                             <div class="comment_user_reply"><button>Reply</button></div>
                         </div>
                     </div>
                      
                     
                     <!--div class="col-sm-10 user_comment_box col-sm-offset-2">
                         <div class="col-sm-2">
                             <div class="comment_user_pic"></div>
                         </div>
                         <div class="col-sm-8">
                             <div class="comment_user_info">
                                 <span class="comment_user_title">Paul Gettis</span>
                                 <span class="comment_user_date">Posted : October 30, 2015 at 04PM</span>
                             </div>
                             <div class="comment_user_text">
                                 this is demo
                             </div>
                             
                             <div class="comment_user_reply"><button>Reply</button></div>
                         </div>
                     </div-->
                     
                     <!--div class="col-sm-8 user_comment_box col-sm-offset-4">
                         <div class="col-sm-2">
                             <div class="comment_user_pic"></div>
                         </div>
                         <div class="col-sm-8">
                             <div class="comment_user_info">
                                 <span class="comment_user_title">Paul Gettis</span>
                                 <span class="comment_user_date">Posted : October 30, 2015 at 04PM</span>
                             </div>
                             <div class="comment_user_text">
                                 this is demo
                             </div>
                             
                             <div class="comment_user_reply"><button>Reply</button></div>
                         </div>
                     </div-->
                     <% end %>
                     <!--div class="col-sm-12 user_comment_box">
                         <div class="col-sm-2">
                             <div class="comment_user_pic"></div>
                         </div>
                         <div class="col-sm-8">
                             <div class="comment_user_info">
                                 <span class="comment_user_title">Paul Gettis</span>
                                 <span class="comment_user_date">Posted : October 30, 2015 at 04PM</span>
                             </div>
                             <div class="comment_user_text">
                                 this is demo
                             </div>
                             
                             <div class="comment_user_reply"><button>Reply</button></div>
                         </div>
                     </div-->
                     
                 </div>
             </div>
             
             <!--div class="nextAndprevious_comment_list">
                 <div class="comment_move_button previous_comment_left"></div>
                 <div class="comment_move_button next_comment_left"></div>
             </div-->
              
          </div>
  	</div>
  </div>

  <footer class="col-sm-12">
  	<div class="row">
  	<div class="container">
  		<div class="col-md-3">
  			<div><img src="images/footer-logo.png"  class="img-responsive" alt=""></div>
  			<div class="footer-about-detail">Neque arcu tincidunt neque pharetra code uct modo nibh leo non libero. Cras augues ipsum mpharetra inter sed. Integ er anterl nunc accumsan sed tempus rutrum.</div>
  			<div class="footer-about-readMore">Read More</div>
  			<div class="subscribe-newsletter">Subscribe Newsletter</div>

  			<div>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <%= form_for @newsletter, :url => {:action => "add_newsletter"},:remote => false, :class => "" do |f| %>
        <%= f.text_field :email, autofocus: true, required: true, :placeholder => "Email", :class => 'footer-subscribe-input1' %>
        <%= hidden_field_tag(:status,value='1')%>
        <%= f.submit "Send", :class => "footer-subscribe-button",:style => 'width: 25%;' %>
        <!--button class="footer-subscribe-button"><i class="fa fa-envelope-o"></i></button-->
        <% end %>
      </div>

  		</div>
  		<div class="col-md-3">
  			<div class="latest-tweets-title">Latest Tweets</div>
  			<ul class="latest-tweets-list">
  				<li>
  					<div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
  					<div class="latest-tweets-time">1 minute ago</div>
  				</li>
  				<li>
  					<div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
  					<div class="latest-tweets-time">1 minute ago</div>
  				</li>
  				<li>
  					<div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
  					<div class="latest-tweets-time">1 minute ago</div>
  				</li>
  			</ul>
  		</div>
  		<div class="col-md-3">
  			<div class="latest-tweets-title">Instagram Feed</div>
  			<ul class="latest-instagram-list">
  				<li></li>
  				<li></li>
  				<li></li>
  				<li></li>
  				<li></li>
  				<li></li>
  				<li></li>
  				<li></li>
  				<li></li>
  			</ul>
  		</div>
  		<div class="col-md-3">
  			<div class="col-md-12">
  				<div class="latest-tweets-title">Contact Info</div>
  				<div class="row contact-fild">
  					<div class="col-md-5 contact-title">Address:</div>
  					<div class="col-md-7 contact-name">151 West Srpints Road SWCalgary, AB T3H 4P6</div>
  				</div>
  				<div class="row contact-fild">
  					<div class="col-md-5 contact-title">CA Office:</div>
  					<div class="col-md-7 contact-name">+ 1 403 612 7767</div>
  				</div>
  				<div class="row contact-fild">
  					<div class="col-lg-5 contact-title">Email:</div>
  					<div class="col-lg-7 contact-name">nutrition4yoursoul@gmail.com</div>
  				</div>
  				
  				<div class="row contact-fild">
  					<div class="send-message-box">Send Message</div>
  				</div>
  				
  			</div>
  		</div>
  	</div>
  	</div>
  </footer>
  <div class="footer-border col-sm-12"></div>
  <div class="copyright-Box col-sm-12">
  	<div class="container">
  		<div class="col-md-6 copyright-text">
  			Copyrights Nutritious &amp; Delicious 2015
  		</div>
  		<div class="col-md-6">
  			<ul class="footer-menu-list">
  				<li><a class="active" href="">HOME</a></li>
  				<li><a href="">ABOUT</a></li>
  				<li><a href="">PACKAGES</a></li>
  				<li><a href="">STORE</a></li>
  				<li><a href="">BLOG</a></li>
  				<li><a href="">CONTACT</a></li>
  			</ul>
  		</div>
  	</div>	
  </div>