
<header class="sub_header sub_header_contact_bg">
	<div class="container">
		<div class="sub_header_title test">Blog</div> <br>
		<div class="sub_header_detail">Have a question or comment? Get in touch!</div>
	</div>
</header>

<div class="sub_header_flower"> <img src="../images/header-flower.png" alt=""> </div>

<div class="sub_breadcrumb">
	<div class="white_dashed"></div>
	<div class="container">
		<div class="sub_top_menu">
			<ul>
				<li><%= link_to 'HOME' , root_path, :class => '' %></li>
				<li><%= link_to 'BLOG' , blog_list_path %></li>
			</ul>
		</div>
	</div>
</div>

<div class="green_dot_border"></div>

<div class="blog_container">
	<div class="container">
		<div class="col-md-3">
           <div class="col-sm-12 blog_left_item">
               <div class="row">
                <div class="blog_categories">Categories</div>
                <ul class="blog_categories_list">
                    <% @cats = Category.all %>
                      <% @cats.each do |cat| %>
                      <li><%= cat.name %></li>
                    <% end %>
                </ul>
                </div>
            </div>
            
           <div class="col-sm-12 blog_left_item">
               <div class="row">
                <div class="blog_categories">Recent Post</div>
                      <% @blogs.each do |blog| %>
                      <div class="col-sm-12 recent_post_box">
                          <div class="recent_post_cate_name"><%= blog.title %></div>
                          <div class="recent_post_cate_date"><img src="images/time_icon.png" alt=""><samp><%= blog.created_at.strftime('%B') %>&nbsp;<%= blog.created_at.strftime('%d') %>, <%= blog.created_at.strftime('%Y') %></samp></div>
                      </div>
                      <% end %>
                    
                </div>
            </div>
            
            <div class="col-sm-12 paddingNone blog_left_item">
               
                <div class="offer_limit">
                    <div class="offer_limit_title1">Limited Time</div><br>
                    <div class="offer_limit_title2"><span>offer</span></div>
                    <div class="offer_limit_text">
                        <div class="offer_limit_price">20% OFF</div>
                        <div class="offer_limit_price_detail">Save 20% For 2 or More Packages Within The Same Family</div>
                    </div>
                </div>
             
            </div>
        
             
               
        </div>
        <div class="col-md-9">
            <% @blogs.each do |blog| %>
           <% @users = User.where(:id => blog.user_id) %>
           <% @cateories = Category.where(:id => blog.category_id)
           @total_comment = Comment.where(:blog_id => blog.id)
           %>

            <div class="col-sm-12 blog-post">
                <div class="row blog_head_box">
                    <div class="blog_head_img my-hover-2">
                        <%= image_tag(blog.image, :class => "img-responsive") if blog.image? %></div>
                    <div class="blog_head_date">
                        <div class="blog_head_date_day">
                            <%= blog.created_at.strftime('%d') %></div>
                        <div class="blog_head_date_month"><br><%= blog.created_at.strftime('%b') %></div>
                    </div>
                </div>
                <div class="row">
                    <ul class="blog-user-info">
                        <% @users.each do |user| %>
                        <li><i class="fa fa-user"></i><span>By <%= user.email %></span></li>
                        <% end %>
                        <% @cateories.each do |cat| %>
                        <li><i class="fa fa-folder-open"></i><span><%= cat.name %></span></li>
                        <% end %>
                        <li><i class="fa fa-comment"></i><span><%=  @total_comment.count %> Comment</span></li>
                    </ul>
                </div>
                
                <div class="row blog-title"><%= blog.title %></div>
                <div class="row blog-detail"><%= blog.decsription %></div>
                <div class="row blog_read_more"><%= link_to "Read More", welcome_blog_details_path(id:blog.id) %></div>
            
            </div>
            <% end %>
            <%#= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
            <%#= will_paginate @blogs %>
            <div class="post_paging">
            	<%= will_paginate @blogs %>
            </div>
            
        </div>
	</div>
</div>

<style>
  .pagination{float: right;}
  .disabled {
    width: 50px;
    height: 34px;
    background: #ffffff !important;
    border: 1px solid #f26522;
    border-bottom: 5px solid #f26522;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto Slab Regular';
    font-size: 14px;
    color: #000 !important;
  }
  .disabled {
    width: 50px;
    height: 34px;
    background: #ffffff !important;;
    border: 1px solid #f26522;
    border-bottom: 5px solid #f26522;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto Slab Regular';
    font-size: 14px;
    color: #000 !important;
  }
  .next_page{
    background: #f26522;
    border: 1px solid #dddddd;
    border-bottom: 5px solid #dddddd;
    color: #fff;
    padding: 10px !important
  }
  .previous_page{
    background: #f26522;
    border: 1px solid #dddddd;
    border-bottom: 5px solid #dddddd;
    color: #fff;
    padding: 10px !important
  }
  .pagination a:first-child {
    display:none;
  }
</style>>
