<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<style>
	
	.change-you-life1 {
    background-image: url("../images/orange-back.png");
    width: 100%;
    padding-top: 60px;
    padding-bottom: 122px;
}
</style>
<div class="topborder"></div>
<div class="social-iconBox">
  <div class="container">
    <div class="col-md-9 top-email">
      <span>Bethany Gettis - Holistic Nutritionist</span>
      <span>+1 403 612 7767 </span>
      <span>nutrition4yoursoul@gmail.com</span>
</div>
    <div class="col-md-3 social-icons">
      <span><i class="fa fa-facebook"></i></span>
      <span><i class="fa fa-twitter"></i></span>
      <span><i class="fa fa-instagram"></i></span>
      
</div>
  </div>
  <hr class="hr-dot">
</div>
<nav class="navbar navbar-background" role="navigation" style="margin-top: -40px;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle menu_space" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="company-logo" href="#"><img src="images/logo.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-right-pull" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li style="font-family:'lobster' , cursive;"><%= link_to 'Home' , root_path, :class => 'link-second-click' %></li>
        <li><%= link_to 'ABOUT' , about_path %></li>
        <li><%= link_to 'PACKAGES' , package_path %></li>
        <li><%= link_to 'STORE' , store_path %></li>
        <li><%= link_to 'BLOG' , blog_path %></li>
        <li><%= link_to 'CONTACT' , "#" %></li>
        <li><input type="text" name="search" class="input-search" placeholder="CONTACT NUTRITIONIST" style="font-weight: bold;"></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
	
<header class="sub_header sub_header_contact_bg">
	<div class="container">
		<div class="sub_header_title">Blog</div>
		<div class="sub_header_detail">Have a question or comment? Get in touch!</div>
	</div>
</header>

<div class="sub_header_flower"> <img src="images/header-flower.png" alt=""> </div>

<div class="sub_breadcrumb">
	<div class="white_dashed"></div>
	<div class="container">
		<div class="sub_top_menu">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">About Us</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="green_dot_border"></div>

<div class="blog_container">
	<div class="container">
		<div class="col-md-3">
           <div class="col-sm-12 blog_left_item">
               <div class="row">
                <div class="blog_categories">Categories</div>
                <ul class="blog_categories_list">
                    <li>Categories 1</li>
                    <li>Categories 2</li>
                    <li>Categories 3</li>
                    <li>Categories 4</li>
                    <li>Categories 5</li>
                    <li>Categories 6</li>
                </ul>
                </div>
            </div>
            
           <div class="col-sm-12 blog_left_item">
               <div class="row">
                <div class="blog_categories">Recent Post</div>
                    <div class="col-sm-12 recent_post_box">
                        <div class="recent_post_cate_name">I myself have realized over the</div>
                        <div class="recent_post_cate_date"><img src="images/time_icon.png" alt=""><samp>October 30, 2015</samp></div>
                    </div>
                    
                    <div class="col-sm-12 recent_post_box">
                        <div class="recent_post_cate_name_light">I myself have realized over the</div>
                        <div class="recent_post_cate_date"><img src="images/time_icon.png" alt=""><samp>October 30, 2015</samp></div>
                    </div>
                    
                    <div class="col-sm-12 recent_post_box">
                        <div class="recent_post_cate_name_light">I myself have realized over the</div>
                        <div class="recent_post_cate_date"><img src="images/time_icon.png" alt=""><samp>October 30, 2015</samp></div>
                    </div>
                    
                    <div class="col-sm-12 recent_post_box">
                        <div class="recent_post_cate_name_light">I myself have realized over the</div>
                        <div class="recent_post_cate_date"><img src="images/time_icon.png" alt=""><samp>October 30, 2015</samp></div>
                    </div>
                    
                </div>
            </div>
            
            <div class="col-sm-12 paddingNone blog_left_item">
               
                <div class="offer_limit">
                    <div class="offer_limit_title1">Limited Time</div>
                    <div class="offer_limit_title2"><span>offer</span></div>
                    <div class="offer_limit_text">
                        <div class="offer_limit_price">20% OFF</div>
                        <div class="offer_limit_price_detail">Save 20% For 2 or More Packahes Within The Same Family</div>
                    </div>
                </div>
             
            </div>
        
             
               
        </div>
        <div class="col-md-9">
           
            <div class="col-sm-12 blog-post">
                <div class="row blog_head_box">
                    <div class="blog_head_img"><img src="images/blog-img.jpg" class="img-responsive" alt=""></div>
                    <div class="blog_head_date">
                        <div class="blog_head_date_day">30</div>
                        <div class="blog_head_date_month">oct</div>
                    </div>
                </div>
                <div class="row">
                    <ul class="blog-user-info">
                        <li><i class="fa fa-user"></i><span>By Admin</span></li>
                        <li><i class="fa fa-folder-open"></i><span>Category</span></li>
                        <li><i class="fa fa-comment"></i><span>3 Comment</span></li>
                    </ul>
                </div>
                
                <div class="row blog-title">Why Diets Can Make Keeping Weight Off Worse</div>
                <div class="row blog-detail">I myself have realized over the years working in a healthcare industry based on a society wanting a quick fad diet fix, how it can fail you and make matters worse. Let me ask you this, have you tried numerous diets to find that your weight always comes back? Maybe even more than you were to begin with?
</div>
                <div class="row blog_read_more">Read More</div>
                
            </div>
            
            <div class="col-sm-12 blog-post">
                <div class="row blog_head_box">
                    <div class="blog_head_img"><img src="images/blog-img.jpg" class="img-responsive" alt=""></div>
                    <div class="blog_head_date">
                        <div class="blog_head_date_day">30</div>
                        <div class="blog_head_date_month">oct</div>
                    </div>
                </div>
                <div class="row">
                    <ul class="blog-user-info">
                        <li><i class="fa fa-user"></i><span>By Admin</span></li>
                        <li><i class="fa fa-folder-open"></i><span>Category</span></li>
                        <li><i class="fa fa-comment"></i><span>3 Comment</span></li>
                    </ul>
                </div>
                
                <div class="row blog-title">Why Diets Can Make Keeping Weight Off Worse</div>
                <div class="row blog-detail">I myself have realized over the years working in a healthcare industry based on a society wanting a quick fad diet fix, how it can fail you and make matters worse. Let me ask you this, have you tried numerous diets to find that your weight always comes back? Maybe even more than you were to begin with?
</div>
                <div class="row blog_read_more">Read More</div>
                
            </div>
            
            <div class="col-sm-12 blog-post">
                <div class="row blog_head_box">
                    <div class="blog_head_img"><img src="images/blog-img.jpg" class="img-responsive" alt=""></div>
                    <div class="blog_head_date">
                        <div class="blog_head_date_day">30</div>
                        <div class="blog_head_date_month">oct</div>
                    </div>
                </div>
                <div class="row">
                    <ul class="blog-user-info">
                        <li><i class="fa fa-user"></i><span>By Admin</span></li>
                        <li><i class="fa fa-folder-open"></i><span>Category</span></li>
                        <li><i class="fa fa-comment"></i><span>3 Comment</span></li>
                    </ul>
                </div>
                
                <div class="row blog-title">Why Diets Can Make Keeping Weight Off Worse</div>
                <div class="row blog-detail">I myself have realized over the years working in a healthcare industry based on a society wanting a quick fad diet fix, how it can fail you and make matters worse. Let me ask you this, have you tried numerous diets to find that your weight always comes back? Maybe even more than you were to begin with?
</div>
                <div class="row blog_read_more">Read More</div>
                
            </div>
            
            <div class="col-sm-12 blog-post">
                <div class="row blog_head_box">
                    <div class="blog_head_img"><img src="images/blog-img.jpg" class="img-responsive" alt=""></div>
                    <div class="blog_head_date">
                        <div class="blog_head_date_day">30</div>
                        <div class="blog_head_date_month">oct</div>
                    </div>
                </div>
                <div class="row">
                    <ul class="blog-user-info">
                        <li><i class="fa fa-user"></i><span>By Admin</span></li>
                        <li><i class="fa fa-folder-open"></i><span>Category</span></li>
                        <li><i class="fa fa-comment"></i><span>3 Comment</span></li>
                    </ul>
                </div>
                
                <div class="row blog-title">Why Diets Can Make Keeping Weight Off Worse</div>
                <div class="row blog-detail">I myself have realized over the years working in a healthcare industry based on a society wanting a quick fad diet fix, how it can fail you and make matters worse. Let me ask you this, have you tried numerous diets to find that your weight always comes back? Maybe even more than you were to begin with?
</div>
                <div class="row blog_read_more">Read More</div>
                
            </div>
            
            <div class="col-sm-12 blog-post">
                <div class="row blog_head_box">
                    <div class="blog_head_img"><img src="images/blog-img.jpg" class="img-responsive" alt=""></div>
                    <div class="blog_head_date">
                        <div class="blog_head_date_day">30</div>
                        <div class="blog_head_date_month">oct</div>
                    </div>
                </div>
                <div class="row">
                    <ul class="blog-user-info">
                        <li><i class="fa fa-user"></i><span>By Admin</span></li>
                        <li><i class="fa fa-folder-open"></i><span>Category</span></li>
                        <li><i class="fa fa-comment"></i><span>3 Comment</span></li>
                    </ul>
                </div>
                
                <div class="row blog-title">Why Diets Can Make Keeping Weight Off Worse</div>
                <div class="row blog-detail"> I myself have realized over the years working in a healthcare industry based on a society wanting a quick fad diet fix, how it can fail you and make matters worse. Let me ask you this, have you tried numerous diets to find that your weight always comes back? Maybe even more than you were to begin with?
</div>
                <div class="row blog_read_more">Read More</div>
                
            </div>
            
            
            <div class="post_paging">
            	<ul>
            		<li class="active"><a href="">1</a></li>
            		<li><a href="">2</a></li>
            		<li><a href=""><img src="images/paging-arrow.png" alt=""></a></li>
            	</ul>
            </div>
            
        </div>
	</div>
</div>

<footer class="col-sm-12">
	<div class="row">
	<div class="container">
		<div class="col-md-3">
			<div><img src="images/footer-logo.png"  class="img-responsive" alt=""></div>
			<div class="footer-about-detail">Neque arcu tincidunt neque pharetra code uct modo nibh leo non libero. Cras augues ipsum mpharetra inter sed. Integ er anterl nunc accumsan sed tempus rutrum.</div>
			<div class="footer-about-readMore">Read More</div>
			<div class="subscribe-newsletter">Subscribe Newsletter</div>
			<div>
				<input type="text" name="name" class="footer-subscribe-input">
				<button class="footer-subscribe-button"><i class="fa fa-envelope-o"></i></button>
			</div>
		</div>
		<div class="col-md-3">
			<div class="latest-tweets-title">Latest Tweets</div>
			<ul class="latest-tweets-list">
				<li>
					<div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
					<div class="latest-tweets-time">1 minute ago</div>
				</li>
				<li>
					<div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
					<div class="latest-tweets-time">1 minute ago</div>
				</li>
				<li>
					<div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
					<div class="latest-tweets-time">1 minute ago</div>
				</li>
			</ul>
		</div>
		<div class="col-md-3">
			<div class="latest-tweets-title">Instagram Feed</div>
			<ul class="latest-instagram-list">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="col-md-3">
			<div class="col-md-12">
				<div class="latest-tweets-title">Contact Info</div>
				<div class="row contact-fild">
					<div class="col-md-5 contact-title">Address:</div>
					<div class="col-md-7 contact-name">151 West Srpints Road SWCalgary, AB T3H 4P6</div>
				</div>
				<div class="row contact-fild">
					<div class="col-md-5 contact-title">CA Office:</div>
					<div class="col-md-7 contact-name">+ 1 403 612 7767</div>
				</div>
				<div class="row contact-fild">
					<div class="col-lg-5 contact-title">Email:</div>
					<div class="col-lg-7 contact-name">nutrition4yoursoul@gmail.com</div>
				</div>
				
				<div class="row contact-fild">
					<div class="send-message-box">Send Message</div>
				</div>
				
			</div>
		</div>
	</div>
	</div>
</footer>
<div class="footer-border col-sm-12"></div>
<div class="copyright-Box col-sm-12">
	<div class="container">
		<div class="col-md-6 copyright-text">
			Copyrights Nutritious &amp; Delicious 2015
		</div>
		<div class="col-md-6">
			<ul class="footer-menu-list">
		        <li><%= link_to 'HOME' , root_path, :class => 'active' %></li>
		        <li><%= link_to 'ABOUT' , about_path %></li>
		        <li><%= link_to 'PACKAGES' , "#" %></li>
		        <li><%= link_to 'STORE' , "#" %></li>
		        <li><%= link_to 'BLOG' , blog_path %></li>
		        <li><%= link_to 'CONTACT' , "#" %></li>
			</ul>
		</div>
	</div>	
</div>