<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<style>
	
	.change-you-life1 {
    background-image: url("../images/orange-back.png");
    width: 100%;
    padding-top: 60px;
    padding-bottom: 122px;
}
.footer-subscribe-input1 {
    /*background: #333 none repeat scroll 0% 0%;*/
    border: 0px none;
    border-radius: 5px 0px 0px 5px;
    height: 42px;
    display: inline-block;
    width: 78%;
    outline: medium none;
}

.my-hover-2 img{
  width: 850px;
  height: 450px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.my-hover-2 img:hover{
  width: 820px;
  height: 400px;
  background-color: black;
  

}

.blog_head_date_day{
  padding-top: 15px;
}
</style>
<div class="topborder"></div>
<div class="social-iconBox">
  <div class="container">
    <div class="col-md-9 top-email">
      <span>Bethany Gettis - Holistic Nutritionist</span>
      <span>+1 403 612 7767 </span>
      <span>nutrition4yoursoul@gmail.com</span>
</div>
    <div class="col-md-3 social-icons">
      <span><i class="fa fa-facebook"></i></span>
      <span><i class="fa fa-twitter"></i></span>
      <span><i class="fa fa-instagram"></i></span>
      
</div>
  </div>
  <hr class="hr-dot">
</div>
<nav class="navbar navbar-background" role="navigation" style="margin-top: -40px;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle menu_space" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="company-logo" href="#"><img src="images/logo.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-right-pull" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li style="font-family:'lobster' , cursive;"><%= link_to 'HOME' , root_path, :class => 'link-second-click' %></li>
        <li><%= link_to 'ABOUT' , about_path %></li>
        <li><%= link_to 'PACKAGES' , packages_path %></li>
        <li><%= link_to 'STORE' , store_path %></li>
        <li><%= link_to 'BLOG' , blog_list_path %></li>
        <li><%= link_to 'CONTACT' , new_contact_path %></li>
        <li><input type="text" name="search" class="input-search" placeholder="CONTACT NUTRITIONIST" style="font-weight: bold;font-size:11px"></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
	
<header class="sub_header sub_header_contact_bg">
	<div class="container">
		<div class="sub_header_title">Blog</div><br>
		<div class="sub_header_detail">Have a question or comment? Get in touch!</div>
	</div>
</header>

<div class="sub_header_flower"> <img src="../images/header-flower.png" alt=""> </div>

<div class="sub_breadcrumb">
	<div class="white_dashed"></div>
	<div class="container">
		<div class="sub_top_menu">
			<ul>
				<li><%= link_to 'HOME' , root_path, :class => '' %></li>
				<li><%= link_to 'BLOG' , blog_list_path %></li>
			</ul>
		</div>
	</div>
</div>

<div class="green_dot_border"></div>

<div class="blog_container">
	<div class="container">
		<div class="col-md-3">
           <div class="col-sm-12 blog_left_item">
               <div class="row">
                <div class="blog_categories">Categories</div>
                <ul class="blog_categories_list">
                    <% @cats = Category.all %>
                      <% @cats.each do |cat| %>
                      <li><%= cat.name %></li>
                    <% end %>
                </ul>
                </div>
            </div>
            
           <div class="col-sm-12 blog_left_item">
               <div class="row">
                <div class="blog_categories">Recent Post</div>
                    <% @blogs = Blog.all.order(:created_at).limit(5) %>
                      <% @blogs.each do |blog| %>
                      <div class="col-sm-12 recent_post_box">
                          <div class="recent_post_cate_name"><%= blog.title %></div>
                          <div class="recent_post_cate_date"><img src="images/time_icon.png" alt=""><samp><%= blog.created_at.strftime('%B') %>&nbsp;<%= blog.created_at.strftime('%d') %>, <%= blog.created_at.strftime('%Y') %></samp></div>
                      </div>
                      <% end %>
                    
                </div>
            </div>
            
            <div class="col-sm-12 paddingNone blog_left_item">
               
                <div class="offer_limit">
                    <div class="offer_limit_title1">Limited Time</div><br>
                    <div class="offer_limit_title2"><span>offer</span></div>
                    <div class="offer_limit_text">
                        <div class="offer_limit_price">20% OFF</div>
                        <div class="offer_limit_price_detail">Save 20% For 2 or More Packages Within The Same Family</div>
                    </div>
                </div>
             
            </div>
        
             
               
        </div>
        <div class="col-md-9">
            <% @blogs.each do |blog| %>
           <% @users = User.where(:id => blog.user_id) %>
           <% @cateories = Category.where(:id => blog.category_id)
           @total_comment = Comment.where(:blog_id => blog.id)
           %>

            <div class="col-sm-12 blog-post">
                <div class="row blog_head_box">
                    <div class="blog_head_img my-hover-2">
                        <%= image_tag(blog.image, :class => "img-responsive") if blog.image? %></div>
                    <div class="blog_head_date">
                        <div class="blog_head_date_day">
                            <%= blog.created_at.strftime('%d') %></div>
                        <div class="blog_head_date_month"><br><%= blog.created_at.strftime('%b') %></div>
                    </div>
                </div>
                <div class="row">
                    <ul class="blog-user-info">
                        <% @users.each do |user| %>
                        <li><i class="fa fa-user"></i><span>By <%= user.email %></span></li>
                        <% end %>
                        <% @cateories.each do |cat| %>
                        <li><i class="fa fa-folder-open"></i><span><%= cat.name %></span></li>
                        <% end %>
                        <li><i class="fa fa-comment"></i><span><%=  @total_comment.count %> Comment</span></li>
                    </ul>
                </div>
                
                <div class="row blog-title"><%= blog.title %></div>
                <div class="row blog-detail"><%= blog.decsription %></div>
                <div class="row blog_read_more"><%= link_to "Read More", welcome_blog_details_path(id:blog.id) %></div>
            
            </div>
            <% end %>
            <%#= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
            <%#= will_paginate @blogs %>
            <!--div class="post_paging">
            	<ul>
            		<li class="active"><%#= will_paginate @blogs %></li>
            	</ul>
            </div-->
            
        </div>
	</div>
</div>

<footer class="col-sm-12">
	<div class="row">
	<div class="container">
		<div class="col-md-3">
			<div><img src="images/footer-logo.png"  class="img-responsive" alt=""></div>
			<div class="footer-about-detail">Neque arcu tincidunt neque pharetra code uct modo nibh leo non libero. Cras augues ipsum mpharetra inter sed. Integ er anterl nunc accumsan sed tempus rutrum.</div>
			<div class="footer-about-readMore">Read More</div>
			<div class="subscribe-newsletter">Subscribe Newsletter</div>

			<div>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <%= form_for @newsletter, :url => {:action => "add_newsletter"},:remote => false, :class => "" do |f| %>
        <%= f.text_field :email, autofocus: true, required: true, :placeholder => "Email", :class => 'footer-subscribe-input1' %>
        <%= hidden_field_tag(:status,value='1')%>
        <%= f.submit "Send", :class => "footer-subscribe-button",:style => 'width: 25%;margin-top: -6px;' %>
        <!--button class="footer-subscribe-button"><i class="fa fa-envelope-o"></i></button-->
        <% end %>
      </div>

		</div>
		<div class="col-md-3">
			<div class="latest-tweets-title">Latest Tweets</div>
			<ul class="latest-tweets-list">
				<%= @tweet_news.each do |f| %>
        <li>
          <div class="latest-tweets-name"><%= f.text%></div>
          <div class="latest-tweets-time"><%= time_ago_in_words(f.created_at) %> ago</div>
        </li>
        <% end %>
			</ul>
		</div>
		<div class="col-md-3">
			<div class="latest-tweets-title">Instagram Feed</div>
			<ul class="latest-instagram-list">
				<% @instagram.each do |instagram| %>     
        <li><%= image_tag instagram.images.standard_resolution.url , :style => 'width:79px'%></li>
        <% end %>
			</ul>
		</div>
		<div class="col-md-3">
			<div class="col-md-12">
				<div class="latest-tweets-title">Contact Info</div>
				<div class="row contact-fild">
					<div class="col-md-5 contact-title">Address:</div>
					<div class="col-md-7 contact-name">151 West Srpints Road SWCalgary, AB T3H 4P6</div>
				</div>
				<div class="row contact-fild">
					<div class="col-md-5 contact-title">CA Office:</div>
					<div class="col-md-7 contact-name">+ 1 403 612 7767</div>
				</div>


				<div class="row contact-fild">
					<div class="col-lg-5 contact-title">Email:</div>
					<div class="col-lg-7 contact-name">nutrition4yoursoul@gmail.com</div>
				</div>
				
				<div class="row contact-fild">
					<div class="send-message-box">Send Message</div>
				</div>
				
			</div>
		</div>
	</div>
	</div>
</footer>
<div class="footer-border col-sm-12"></div>
<div class="copyright-Box col-sm-12">
	<div class="container">
		<div class="col-md-6 copyright-text">
			Copyrights Nutritious &amp; Delicious 2015
		</div>
		<div class="col-md-6">
			<ul class="footer-menu-list">
		        <li><%= link_to 'HOME' , root_path, :class => '' %></li>
		        <li><%= link_to 'ABOUT' , about_path %></li>
		        <li><%= link_to 'PACKAGES' , packages_path %></li>
		        <li><%= link_to 'STORE' , "#" %></li>
		        <li><%= link_to 'BLOG' , blog_list_path %></li>
		        <li><%= link_to 'CONTACT' , "#" %></li>
			</ul>
		</div>
	</div>	
</div>
