<style>
    .quest {
        text-align: center;
        font-size: 36px;
        margin-top: 25px;
        height: 58px;
        color: white;
        margin-bottom: 61px;
        /*line-height: 40px;*/
    }

    .hover-over:hover {
        border: 5px solid #f26522;
    }
    a.navbar-link,  a.navbar-link:hover {
        color: #FFF;
        text-decoration: none;
    }
</style>
<br><br>
<%#= flash[:notice] %>
<%# if notice %>
  <!-- <p class="login_success"><%= notice %></p> -->
<%# end %>
<div class="header">
  <div class="container" style="margin-top:-36px;">
    <div class="header-content">
      <div class="header-title">Health....<br> Your Greatest Asset
      </div>
      <div class="header-subtitle">We create custom made meal plans to cater to you and your family.
      </div>
      <div class="header-arrow"><%= link_to image_tag('/images/header-arrow.png'), packages_path, :style => 'background: transparent none repeat scroll 0% 0%;' %></div>
    </div>
  </div>

</div>
<div class="header-flower"><img src="../images/header-flower.png" alt=""></div>

<div class="store-info">
  <div class="container">
    <div class="quest">Have Questions? We Have Answers.</div>
    <div class="col-md-4 wow fadeInLeft">

      <div class="watch-videoButton hover-over">
        <img src="../images/video-icon.png" alt="">  <%= link_to 'Watch Video', packages_path, :style => 'background: transparent none repeat scroll 0% 0%;text-decoration:none;color:black' %>
      </div>
      <!--<div class="subbotton">Monday - Friday : 9AM to 6PM</div>-->
      <!--<div class="subbotton">Saturday : 10AM to 4PM</div>-->
      <!--<div class="subbotton">Sunday : 9 AM to 3PM</div>-->
      <!--<div class="subbotton"></div>
      <div class="subbotton"></div>
      <div class="subbotton"></div>-->
    </div>
    <div class="col-md-4 wow fadeInUp">
      <div class="watch-videoButton hover-over">
        <img src="../images/shopping-cart-icon.png" alt=""><%= link_to 'Healthy Shopping', packages_path, :style => 'background: transparent none repeat scroll 0% 0%;text-decoration:none;color:black' %>
      </div>
      <!--<div class="health-shop-number">+1 403 612 7767</div>-->
      <!--<div class="health-shop-detail">We offer our customers 24 hrs helpline</br>Got a question call us now-->
        <!--</div>-->


    </div>
    <div class="col-md-4 wow fadeInRight">
      <div class="watch-videoButton hover-over"><img src="images/earth.png" alt=""> Talk To nutritionist</div>
      <!--<div class="talk-shop-detail">151 West Spring Road SW </br>Calgary, AB</div>-->
      <!--<div class="subbotton"><a href="tel:+14036127767" style="color: white;">+1 403 612 7767</a></div>-->
      <!--<div class="subbotton"><%#= mail_to "nutrition4yoursouls@gmail.com", "nutrition4yoursouls@gmail.com", :style =>"color: white " %></div>-->
    </div>
  </div>
</div>
<div class="store-info-border-blank"></div>
<div class="container">
          <div class="wow rollIn center">
      <div class="change-the-way-title-new">Change The Way You Eat!</div>
      <div class="change-the-way-subtitle" style="font-family:'Tahoma';">What are your goals?
        We work with a range of people<br> who all have different needs and wants.
      </div>
        </div>
        </div>
<div class="change-the-way ">
  <div class="container">

    <div class="col-md-8">

      <div class="row wow fadeInUp">
        <div class="col-sm-4 " style="height: 345px; overflow-y: scroll;">
        <div class="vegetarian-title">Pick Your Goal</div>
          <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-stacked change-the-tab">
            <li style="margin-left: 0px; width: 100%; font-size: 15px;" class="active"><a href="#vtab1" data-toggle="tab">Vegetarian / Vegan</a></li>
            <li style="width: 100%; font-size: 15px;"><a href="#vtab2" data-toggle="tab">Detox </a></li>
            <li style="width: 100%;font-size: 15px;"><a href="#vtab3" data-toggle="tab">Weight Loss</a></li>
            <li style="width: 100%;font-size: 15px;"><a href="#vtab4" data-toggle="tab">Picky Eaters</a></li>
            <li style="width: 100%;font-size: 15px;"><a href="#vtab5" data-toggle="tab">Gluten Free</a></li>
            <li style="width: 100%;font-size: 15px;"><a href="#vtab6" data-toggle="tab">Lactose intolerant</a></li>
            <li style="width: 100%;font-size: 15px;"><a href="#vtab7" data-toggle="tab">Heart health and sustained energy</a></li>
            <li style="width: 100%;font-size: 15px;"><a href="#vtab8" data-toggle="tab">Athletic training or building muscle</a></li>
            <li style="width: 100%;font-size: 15px;"><a href="#vtab9" data-toggle="tab">Lifestyle changes</a></li>
          </ul>
        </div>
        <div class="col-sm-8 change_content_tab">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
              <div class="vegetarian-title">Vegetarian / Vegan</div>
              <p class="vegetarian-p" style="font-family:'Tahoma';font-size: 18px; line-height: 24px;">Frustrated with the limited options
                for vegan or vegetarian diets? Are you conscious about what foods you currently eat or about eating
                meat? New vegan or vegetarian looking for healthy options and correct portion control to keep your
                weight in check? <br><br>

                Our plans are based on weight maintenance + rich nutrients in the form of healthy carbohydrates, lots of
                juicy produce and different varieties of brands for your proteins. Prefer certain products—we can
                experiment and see what best suits you. <br><br>

                Get our tasty recipes to add to your growing meal plan. Being vegan or vegetarian doesn’t have to be
                hard—customized recipes allow you to enjoy a varied and delicious diet.
              </p>

              <!--<ul class="vegetarian-list">
                                <li>Keep protein levels balanced</li>
                                <li>Creative and tasty alternatives</li>
                                <li>Learn where to quickly find the foods you need.</li>
                              </ul>-->

              <div class="free-quote"><%= link_to "Request Free Quote", new_contact_path %></div>

            </div>
            <div role="tabpanel" class="tab-pane fade in" id="vtab2">

              <div class="vegetarian-title">Detox quick / weight loss</div>
              <input type="checkbox" class="read-more-state" id="post-1"/>

              <p class="vegetarian-p read-more-wrap " style="font-family:'Tahoma';font-size: 15px;">Want to lose some
                weight after the holidays, need to get back into smaller clothes for the summer, have an important life
                event, need to clear your body of toxins or going to be in a bathing suit anytime soon? This plan is for
                you.
                <br><br>

                Our 21 day detox plan is full of fresh, wholesome produce. Only minimal alterations for allergies or
                sensitivities is granted, as it is designed to help encourage fat loss and increase vital energy within.
                The first two weeks are geared at lowering your overall calories while providing the body with as many
                nutrients as possible using the freshest, juiciest foods.
                <br><br>Women are allocated 1200 calories in the first two weeks followed by 1300 calories in the third
                week by increasing food variety and providing more carbohydrate substance. Men are allocated 1600
                calories for the first two weeks, followed by an increase the third week with 1700
                calories.<span class="read-more-target">
Because of the lowered caloric intake, your energy levels are affected. Only light workouts are recommended during the first two weeks— light yoga, walks and meditations.</span>

              </p>


              <label for="post-1" class="read-more-trigger"></label>

              <div class="free-quote">R<%= link_to "Request Free Quote", new_contact_path %></div>


            </div>
            <div role="tabpanel" class="tab-pane fade in" id="vtab3">


              <div class="vegetarian-title">Weight loss / long term</div>
              <p class="vegetarian-p" style="font-family:'Tahoma';font-size: 15px;">Serious about losing weight and want
                to keep it off for good? This is your plan. Customized weight loss meal plans for our food preferences
                and any allergies or sensitivities. We customize your calorie intake and ease you in to the program as
                we start to create a new healthy lifestyle for you.

                <br><br>

                We find lower calorie options of what you crave, but healthier, fresher ands more substantial. This plan
                can be a starting point on your journey to a healthier new you for the long term.


              </p>


              <div class="free-quote"><%= link_to "Request Free Quote", new_contact_path %></div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="vtab4">


              <div class="vegetarian-title">Picky Eaters / (Adolescents):</div>
              <p class="vegetarian-p" style="font-family:'Tahoma';font-size: 15px;">Do you have a teenager, or are you a
                teen, who doesn't know what to eat, or how much for a growing body? Are you confused about all the hype
                on carbs and fats these days? Do you not have a great appetite or crave a lot of junk foods? Do you
                constantly feel tired and wish you could feel more energized to do the activities you want to do? We
                have created a meal plan for that family member who doesn't like what everyone else eats.

                <br><br>

                We have some interesting, hearty recipes the whole family can enjoy. We first find out what you or your
                teen likes and dislikes about food, then we can customize a meal plan catered to those needs. Based on
                current activity levels, growing needs, gender and height, we calculate the average daily calorie
                consumption and go from there. This will help fussy eaters to be proactive in their own health and
                wellness for the long term.
              </p>

              <div class="free-quote"><%= link_to "Request Free Quote", new_contact_path %></div>

            </div>
            <div role="tabpanel" class="tab-pane fade in" id="vtab5">


              <div class="vegetarian-title">Gluten free</div>
              <p class="vegetarian-p" style="font-family:'Tahoma';font-size: 15px;">Have you been diagnosed with celiac
                disease and don't know what you can eat? Or are you trying to avoid wheat products due to symptomatic
                problems you have been having? This meal plan will help those of you, new and old to this issue, with
                finding healthy and tasty options in the regular grocery aisle.
                <br><br>

                With correct label reading, being adventurous and trying something new, and education about certain
                restaurants and places to avoid, we can work together to make this an easier lifestyle for you.
                <br><br>
                Yummy gluten recipes are available. We take into account your calorie needs and then pick what you like,
                have tried and invite some more interesting options into your meal plan book.
              </p>

              <div class="free-quote"><%= link_to "Request Free Quote", new_contact_path %></div>
            </div>

            <div role="tabpanel" class="tab-pane fade in" id="vtab6">

              <div class="vegetarian-title">Lactose intolerant</div>
              <p class="vegetarian-p" style="font-family:'Tahoma';font-size: 15px;">Have you been trying to avoid using
                dairy products? Do you feel they contribute to your low energy, breakouts, sinus problems or a sour
                smell? If you want to find better alternatives look no further.
                <br><br>
                We can assess which brands and substitutes best suit you. We fill your diet with lots of fresh,
                wholesome produce to help rid your body of the toxins and give your vitality back.

                <br><br>
                Lactose free recipes are also available. If certain brands don’t suit you, we can always switch and find
                the right one that appeal to your taste buds. We recommend being open to experimenting as there are some
                tasty treats available.

              </p>

              <div class="free-quote "><%= link_to "Request Free Quote", new_contact_path %></div>

            </div>

            <div role="tabpanel" class="tab-pane fade in" id="vtab7">


              <div class="vegetarian-title">Heart health and sustained energy</div>
              <p class="vegetarian-p" style="font-family:'Tahoma';font-size: 15px;">Has your bad cholesterol increased
                over the years? Do you need a plan to keep your blood sugars stable throughout the day without having
                energy crashes?
                <br><br>

                We have a few different meal plans that we can customize to you and your needs. To sustain your blood
                sugars our meal plan has balanced fat and protein ratios while keeping healthy fibrous carbs a part of
                your everyday plan. Eating every few hours is critical to this plan to keep your energy sustained so you
                are able to go about your day with more ease.


                <br><br>
                Heart healthy includes much more fresh produce and lowering the saturated animal fats to a minimum. This
                plan focuses on lean poultry meats and more of a seafood diet to help lower your bad cholesterol over
                time.

              </p>

              <div class="free-quote"><%= link_to "Request Free Quote", new_contact_path %></div>

            </div>
            <div role="tabpanel" class="tab-pane fade in" id="vtab8">

              <div class="vegetarian-title">Athletic training or building muscle</div>
              <p class="vegetarian-p" style="font-family:'Tahoma';font-size: 15px;">Are you putting lots of focus and
                energy into your workouts, but not getting much results back in the form of muscle growth? It’s true.
                Abs come from the kitchen, so let me show you how with a meal plan that is right for you. We will take
                into account how much exercise you currently do, what type of exercise—whether it be aerobic or weight
                lifting and your calorie needs. We then create a balanced macro ratio for you to follow.

                <br><br>

                The meal plan will put an emphasis on increasing your protein consumption while finding healthy forms of
                carbohydrates for you to lift heavier, or extend your aerobic activity levels. We can also incorporate a
                cheat meal once a week, depending on how strict you want your plan to be.

              </p>

              <div class="free-quote"><%= link_to "Request Free Quote", new_contact_path %></div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="vtab9">
              <div class="vegetarian-title">Lifestyle changes</div>
              <p class="vegetarian-p" style="font-family:'Tahoma';font-size: 15px;">Are you bored with what you are
                eating, day in and day out? We are typically creatures of habit so we generally don't go outside of the
                box to find new ways to eat.
                <br><br>

                If you want to spice up your palate, would like to start eating more organic foods with less pesticides
                and hormones, let’s get to work. Our meals plans are focused on the Mediterranean and Paleo lifestyle
                which incorporate many more healthy fats while balancing the protein and carb ratios.
                <br><br>
                The meal plan focuses on healthy legumes and beans along with lots of fresh fruit, veggies and plenty of
                fresh fish and healthy fats such as nuts, seeds, and olive oil. This is a sensible plan for someone
                looking to maintain their weight while creating a new twist to how they currently eat.
              </p>

              <div class="free-quote"><%= link_to "Request Free Quote", new_contact_path %></div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 vertical-xs"> <img style="box-shadow: 10px 11px 20px -8px rgba(0, 0, 0, 0.75);" src="images/change-the-way-banner.png" class="img-responsive" alt=""> </div>
  </div>
</div>

<div class="change-you-life">
  <div class="red-flower-box"><img src="images/red-flower.png" alt=""></div>
  <div class="container wow bounceInDown center">
    <div class="col-md-8">
      <div class="life-change-title">Change Your Life, One Step At A Time!</div><br>
      <div class="life-change-subtitle">View all of our packages and the steps involved with them.</div>
    </div>
    <div class="col-md-4">
      <div class="our-packages">
        <%= link_to 'See Our Packages', packages_path %>
        <!-- <br> -->
        <!-- <span class="our-packages-subtitle">And Live The Life You Want!</span> -->
      </div>
    </div>
  </div>
</div>
<div class="change-your-border"></div>
<div class="change-your-border"></div>
<!--<div class="change-you-life2">-->

  <!--<div class="container">-->
    <!--<div class="col-md-6">-->
      <!--<div class="life-change-title">Change Your Life, One Step At A Time!</div>-->
      <!--<br>-->

      <!--<div class="life-change-subtitle">View all of our packages and the steps involved with them.</div>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
      <!--<div class="our-packages">-->
        <!--<%#= link_to 'See Our Packages', packages_path, :style => 'background: transparent none repeat scroll 0% 0%;text-decoration:none;color:black' %>-->
        <!--<br>-->
        <!--<span class="our-packages-subtitle"><%= link_to 'And Live The Life You Want!', packages_path, :style => 'background: transparent none repeat scroll 0% 0%;text-decoration:none;color:black' %></span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


<!--</div>-->

<div class="discover-everythink">
  <div class="container">
  <div class="wow rollIn center">
      <div class="discover-title-new">Information is key</div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-6">
      <img style="box-shadow: 10px 11px 20px -8px rgba(0, 0, 0, 0.75);" src="images/discover-everythink.png" class="img-responsive" alt="">
    </div>
    <div class="col-md-6 wow rollIn">
      <p class="discover-title-detail" style="font-family:'Tahoma';font-size: 18px;line-height:24px;color: #878787">Whoever said that healthy food can’t be tasty?
        Leave the planning to us. At Nutritious & Delicious, we take the work out of meal planning for you with
        recommendations that will have you looking forward to breakfast, lunch and dinner.</p>

      <ul class="discover-everythink-list">
        <li>Confused by food labels? Imagine how your view of the grocery store would change if you had a professional
          showing you around. Learn exactly what all those labels and ingredients mean.
        </li>

        <li>Age slowly and gracefully. Vitality + healthy skin, nails and teeth are just some of the benefits of a
          healthy lifestyle and proper diet.
        </li>

        <li>At Nutritious & Delicious, we don’t believe in one fix for everyone. That’s why diets don’t work. It’s
          essential to balance your meals with your weight and your metabolism.
        </li>

      </ul>

    </div>
  </div>

</div>



<div class="yummy-recipes">
  <div class="container wow rollIn center">
    <div class="yummy-recipes-title">Yummy Recipes</div>
    <br>

    <div class="yummy-recipes-subtitle">Here are just a few of the tantalizing flavours we can introduce to your
      palate......<br><br>

      Read for yourself some of the dramatic results we have created for our clients.
    </div>
  </div>
</div>
<div class="yummy-recipesBox col-lg-12 paddingNone">
  <div class='yummy-recipes-slidBox'>
    <div class="col-sm-3 paddingNone yummy-recipes-slidBox yummy-grid">
      <img src="images/yummy-1.png" class="img-responsive" alt="" >
      <div class='description'>
        <!-- description content -->
        <div class="description_content">
          <div class="text-center zoom_page text-center">
            <span class="paddingright10">
              <a data-toggle="modal" href="" class="outline_none">
                <img src="images/zoom-icom.png" class="show_img" alt="" data-type="imageModal1">
              </a>
            </span>
            <span>
              <a data-toggle="modal" href="" class="outline_none">
                <img src="images/detail-icon.png" alt="" class="show_detail" data-type="squarespaceModal1">
              </a>
            </span>
            <div class="col-sm-12"><div class="zoomName">Fried Egg & Feta Sandwich</div></div>
          </div>
        </div>
        <!-- end description content -->
      </div>
    </div>
    <div class="col-sm-3 paddingNone yummy-recipes-slidBox yummy-grid">
    <img src="images/yummy-2.png" class="img-responsive" alt="" >
      <div class='description'>
        <!-- description content -->
        <div class='description_content'>
          <div class="text-center zoom_page text-center">
            <span class="paddingright10">
              <a data-toggle="modal" href="" class="outline_none">
            <img src="images/zoom-icom.png" class="show_img" alt="" data-type="imageModal2">
              </a>
            </span>
            <span>
              <a data-toggle="modal" href="" class="outline_none">

            <img src="images/detail-icon.png" alt="" class="show_detail" data-type="squarespaceModal2">
              </a>
            </span>
            
            <div class="col-sm-12"><div class="zoomName">Protein Pancakes (GF)</div></div>
          </div>
        </div>
        <!-- end description content -->
      </div>
    </div>
    <div class="col-sm-3 paddingNone yummy-recipes-slidBox yummy-grid">
    <img src="images/yummy-3.png" class="img-responsive" alt="" >
      <div class='description'>
        <!-- description content -->
        <div class='description_content'>
          <div class="text-center zoom_page text-center">
            <span class="paddingright10">
              <a data-toggle="modal" href="" class="outline_none">

            <img src="images/zoom-icom.png" class="show_img" alt="" data-type="imageModal3">
              </a>
            </span>
            <span>
              <a data-toggle="modal" href="" class="outline_none">

            <img src="images/detail-icon.png" alt="" class="show_detail" data-type="squarespaceModal3">
              </a>
            </span>
            
            <div class="col-sm-12"><div class="zoomName">Heaven In A Bar (GF)(DF)</div></div>
          </div>
        </div>
        <!-- end description content -->
      </div>
    </div>
    <div class="col-sm-3 paddingNone yummy-recipes-slidBox yummy-grid">
    <img src="images/yummy-4.png" class="img-responsive" alt="" >
      <div class='description'>
        <!-- description content -->
        <div class='description_content'>
          <div class="text-center zoom_page text-center">
            <span class="paddingright10">
              <a data-toggle="modal" href="" class="outline_none">

            <img src="images/zoom-icom.png" class="show_img" alt="" data-type="imageModal4">
              </a>
            </span>
            <span>
              <a data-toggle="modal" href="" class="outline_none">

            <img src="images/detail-icon.png" alt="" class="show_detail" data-type="squarespaceModal4">
              </a>
            </span>
            
            <div class="col-sm-12"><div class="zoomName">Tropical Kale Storm Smoothie (DF)(GF)(VG)</div></div>
          </div>
        </div>
        <!-- end description content -->
      </div>
    </div>
    <div class="col-sm-3 paddingNone yummy-recipes-slidBox yummy-grid">
      <img src="images/yummy-5.png" class="img-responsive" alt="" >
      <div class='description'>
        <!-- description content -->
        <div class='description_content'>
          <div class="text-center zoom_page text-center">
            <span class="paddingright10">
              <a data-toggle="modal" href="" class="outline_none">

            <img src="images/zoom-icom.png" class="show_img" alt="" data-type="imageModal5">
              </a>
            </span>
            <span>
              <a data-toggle="modal" href="" class="outline_none">

            <img src="images/detail-icon.png" alt="" class="show_detail" data-type="squarespaceModal5">
              </a>
            </span>
            
            <div class="col-sm-12"><div class="zoomName">Crockpot Pork Chili</div></div>
          </div>
        </div>
        <!-- end description content -->
      </div>
    </div>
    <div class="col-sm-3 paddingNone yummy-recipes-slidBox yummy-grid">
      <img src="images/yummy-6.png" alt="" >
      <div class='description'>
        <!-- description content -->
        <div class='description_content'>
          <div class="text-center zoom_page text-center">
            <span class="paddingright10">
              <a data-toggle="modal" href="" class="outline_none">

            <img src="images/zoom-icom.png" class="show_img" alt="" data-type="imageModal6">
              </a>
            </span>
            <span>
              <a data-toggle="modal" href="" class="outline_none">

            <img src="images/detail-icon.png" alt="" class="show_detail" data-type="squarespaceModal6">
              </a>
            </span>
            
            <div class="col-sm-12"><div class="zoomName">Swiss Turkey Burgers</div></div>
          </div>
        </div>
        <!-- end description content -->
      </div>
    </div>
    <div class="col-sm-3 paddingNone yummy-recipes-slidBox yummy-grid">
      <img src="images/yummy-7.png" alt="" >
      <div class='description'>
        <!-- description content -->
        <div class='description_content'>
          <div class="text-center zoom_page text-center">
            <span class="paddingright10">
              <a data-toggle="modal" href="" class="outline_none">

            <img src="images/zoom-icom.png" class="show_img" alt="" data-type="imageModal7">
              </a>
            </span>
            <span>
              <a data-toggle="modal" href="" class="outline_none">

            <img src="images/detail-icon.png" alt="" class="show_detail" data-type="squarespaceModal7">
              </a>
            </span>
            
            <div class="col-sm-12"><div class="zoomName">Baked Candied Salmon(GF)(DF)</div></div>
          </div>
        </div>
        <!-- end description content -->
      </div>
    </div>
    <div class="col-sm-3 paddingNone yummy-recipes-slidBox yummy-grid">
      <img src="images/yummy-8.png" alt="" >
      <div class='description'>
        <!-- description content -->
        <div class='description_content'>
          <div class="text-center zoom_page text-center">
            <span class="paddingright10">
              <a data-toggle="modal" href="" class="outline_none">

            <img src="images/zoom-icom.png" alt="" class="show_img" data-type="imageModal8">
              </a>
            </span>
            <span>
              <a data-toggle="modal" href="" class="outline_none">
            <img src="images/detail-icon.png" alt="" class="show_detail" data-type="squarespaceModal8">
              </a>
            </span>
            
            <div class="col-sm-12"><div class="zoomName">Berry Hot Cereal (GF)(DF)(VG)</div></div>
          </div>
        </div>
        <!-- end description content -->
      </div>
    </div>
  </div>
  </div>
</div>
<br class="clear">
<div class="col-sm-12 yummy-read-more-box">
  <!-- <div class="yummy-read-more wow bounceInUp center">Read More</div> -->
</div>
<br class="clear">
<div class="yummy-recipes-border"></div>
<div class="customers-saying wow pulse">
  <div class="container">
    <div class="customers-saying-title">What Customers Are Saying</div>
    <div class="customers-saying-subtitle">See for your self some of the dramatic results we have created for our
      clients.
    </div>
  </div>
  <div class="container">
    <div class="carousel slide" id="customers-quote-carousel" data-ride="carousel" data-interval="3000">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item blog_posts">
          <div class="col-md-6">
            <div class="customers-box col-sm-12">
              <div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
              <div class="col-md-9">Thank you Bethany for putting together a great plan for my particular problem.  I was recently diagnosed with celiac disease so eating in and out has become a big challenge for me, Bethany managed to put together a shopping list with things that I liked to eat so nothing was banned (only wheat etc of <!-- course) and even made me a shopping list to help me.  She also gave me lots of other useful advice that could maintain my blood sugars and stop me buying fast food, in other words to be prepared instead of finding myself hungry with no snacks on standby etc. She even made up recipes for me to try.  I fully recommend that Bethany do anyone a plan for their lifestyle whatever the problem, mine was a challenging one and she rose to the challenge!  Thank you Bethany. -->
              </div>
              <div class="customers-box-arrow"></div>
            </div>
            <div class="customers-info col-sm-12 paddingNone">
              <div class="customers-name">J. Wisdom</div>
              <div class="customers-address">Calgary, AB</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="customers-box col-sm-12">
              <div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
              <div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was <!-- exercising 3x/week. Bethany determined that I was actually eating too little (shocking) and that key vitamins and minerals were missing from my diet which explained why I was feeling the way I was.
Bethany made up a detailed meal plan for me which left nothing out. It was tailored to the exact calories I needed to consume to achieve my goals, and fulfilled the daily vitamin and mineral requirement. She also made up a detailed, easy to follow shopping list. The list was broken down the way you would find the items in the grocery store so there would be no back and forth.  Bethany's list had recommendations for brands of food, but she explained that if you had a favorite brand you can use it as long as you made sure you were keeping in line with the amount of calories and fat in the meal plan.
The meal plan and grocery list also correlated to Bethany's recipe guide that was included in her book. The recipes were easy to follow, quick to make and DELICIOUS. Even my husband likes the food. So far, a week following the plan and I feel I have more energy, feel fitter and have a better sense of wellbeing. Highly recommend!
 -->
              </div>
              <div class="customers-box-arrow"></div>
            </div>
            <div class="customers-info col-sm-12 paddingNone">
              <div class="customers-name">Kara H</div>
              <div class="customers-address">Home Owner, Aspen Woods - Calgary</div>
            </div>
          </div>
        </div>
        <div class="item blog_posts">
          <div class="col-md-6">
            <div class="customers-box col-sm-12">
              <div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
              <div class="col-md-9">When having a nutritional assessment done with Bethany, the first thing I noticed was her great
attention to detail. She has designed very thorough history forms for all of her clients to fill out. This not
only includes questions about eating habits but medical history as well. I feel Bethany’s experience in
<!-- the nursing profession gives her an advantage over others in the nutrition industry because she
possesses strong assessment skills and she is able to anticipate medical issues that may create obstacles
for achieving a client’s goals. She is very knowledgeable and passionate about nutrition which is obvious
when you sit down and talk with her. I also quite enjoyed the finished product that was given to me
after the assessment was complete. This was in the form of a binder detailing the assessment and plan
for the future to help achieve my dietary health and nutrition goals.
I would recommend Bethany to anyone who is looking for a customized, thorough and realistic plan to
improve their overall level of nutrition through dietary coaching and education.
 -->              </div>
              <div class="customers-box-arrow"></div>
            </div>
            <div class="customers-info col-sm-12 paddingNone">
              <div class="customers-name">Suzanne</div>
              <div class="customers-address"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="customers-box col-sm-12">
              <div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
              <div class="col-md-9">Bethany's vast experience and knowledge in the field of nutrition is definitely apparent when I started to work with her. She made me feel extremely comfortable and at home when talking with her which was very important to me. Her meal plans as well as recipe ideas were so helpful and most <!-- importantly, kept me healthy and worked. She is always available to me whenever I have a quick question which I feel a lot of other nutritionists are lacking. She gives you her full attention and makes you feel special. I highly recommend her to anyone wanting to live a happier and healthier lifestyle, she really is the best of the best :) -->
              </div>
              <div class="customers-box-arrow"></div>
            </div>
            <div class="customers-info col-sm-12 paddingNone">
              <div class="customers-name">Victoria</div>
              <div class="customers-address">Calgary AB</div>
            </div>
          </div>

        </div>

      </div>
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#customers-quote-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#customers-quote-carousel" data-slide-to="1"></li>
        <!-- <li data-target="#customers-quote-carousel" data-slide-to="2"></li> -->
      </ol>
    </div>
  </div>
</div>
<!--<div class="customers-saying">-->
<!--<div class="container">-->
<!--<div class="customers-saying-title">What Customers Are Saying</div>-->
<!--<div class="customers-saying-subtitle">Read for yourself some of the dramatic results we have created for our-->
<!--clients.-->
<!--</div>-->
<!--</div>-->
<!--<div class="container">-->
<!--<div class="carousel slide" id="customers-quote-carousel" data-ride="carousel" data-interval="3000">-->
<!--&lt;!&ndash; Carousel items &ndash;&gt;-->
<!--<div class="carousel-inner">-->

<!--<%#= @testimonials.each do |testimonial| %>-->
<!--<div class="item active blog_posts">-->
<!--<div class="col-md-6">-->
<!--<div class="customers-box col-sm-12">-->
<!--<div class="col-md-3 text-center">-->
<!--<img src="images/comment-user.png" class="img-responsive" alt=""><%#= image_tag(testimonial.image, :class => "img-responsive") if testimonial.image? %>
<!--</div>-->
<!--<div class="col-md-9">-->
<!--<p class="show-read-more">I recently signed up with Bethany at Nutritious & Delicious and am very-->
<!--pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day-->
<!--activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating-->
<!--copious amounts of bad food and I was exercising 3x/week. Bethany determined that I was actually-->
<!--eating too little (shocking) and that key vitamins and minerals were missing from my diet which-->
<!--explained why I was feeling the way I was.</p><%#= testimonial.content %></p></div>-->
<!--<div class="customers-box-arrow"></div>-->
<!--</div>-->
<!--<div class="customers-info col-sm-12 paddingNone">-->
<!--<div class="customers-name">Kara<%#= testimonial.name %></div>-->
<!--<div class="customers-address">Calgary, AB<%#= testimonial.city %>, <%#= testimonial.country %></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<%#= end %>-->

<!--<div class="col-md-6">-->
<!--<div class="customers-box col-sm-12">-->
<!--<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>-->
<!--<div class="col-md-9">-->
<!--<p>I recently signed up with Bethany at Nutritious & Delicious and am very pleased with the results.-->
<!--Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always-->
<!--had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was-->
<!--exercising 3x/week. Bethany determined that I was actually eating too little (shocking) and that key-->
<!--vitamins and minerals were missing from my diet which explained why I was feeling the way I was.</p>-->
<!--</div>-->
<!--<div class="customers-box-arrow"></div>-->
<!--</div>-->
<!--<div class="customers-info col-sm-12 paddingNone">-->
<!--<div class="customers-name">Kara</div>-->
<!--<div class="customers-address">Calgary, AB</div>-->
<!--</div>-->
<!--</div>-->


<!--<div class="item blog_posts">-->
<!--<div class="col-md-6">-->
<!--<div class="customers-box col-sm-12">-->
<!--<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>-->
<!--<div class="col-md-9">I would recommend Bethany to anyone who is looking for a customized, thorough and-->
<!--realistic plan to improve their overall level of nutrition through dietary coaching and education.-->
<!--</div>-->
<!--<div class="customers-box-arrow"></div>-->
<!--</div>-->
<!--<div class="customers-info col-sm-12 paddingNone">-->
<!--<div class="customers-name">Suzanne</div>-->
<!--<div class="customers-address">Airdrie, AB</div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;div class="col-md-6">-->
<!--<div class="customers-box col-sm-12">-->
<!--<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>-->
<!--<div class="col-md-9"><p class="show-read-more">Bethany made up a detailed meal plan for me which left nothing out. It was tailored to the exact calories I needed to consume to achieve my goals, and fulfilled the daily vitamin and mineral requirement. She also made up a detailed, easy to follow shopping list. The list was broken down the way you would find the items in the grocery store so there would be no back and forth.  Bethany's list had recommendations for brands of food, but she explained that if you had a favorite brand you can use it as long as you made sure you were keeping in line with the amount of calories and fat in the meal plan.</p></div>-->
<!--<div class="customers-box-arrow"></div>-->
<!--</div>-->
<!--<div class="customers-info col-sm-12 paddingNone">-->
<!--<div class="customers-name">Kara</div>-->
<!--<div class="customers-address">Calgary, AB-->
<!--</div>-->
<!--</div>-->
<!--</div&ndash;&gt;-->

<!--</div>-->


<!--<div class="item blog_posts">-->
<!--<div class="col-md-6">-->
<!--<div class="customers-box col-sm-12">-->
<!--<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>-->
<!--<div class="col-md-9">-->
<!--<p>Thank you Bethany for putting together a great plan for my particular problem. I was recently-->
<!--diagnosed with celiac disease so eating in and out has become a big challenge for me. Bethany put-->
<!--together a shopping list with things that I liked to eat so nothing was banned (only wheat etc of-->
<!--course) and even made me a shopping list to help me. She also gave me lots of other useful advice that-->
<!--could maintain my blood sugars and stop me buying fast food, in other words to be prepared instead of-->
<!--finding myself hungry with no snacks on standby etc. She even made up recipes for me to try. I fully-->
<!--recommend that Bethany do anyone a plan for their lifestyle whatever the problem, mine was a-->
<!--challenging one and she rose to the challenge! Thank you Bethany.</p>-->
<!--</div>-->
<!--<div class="customers-box-arrow"></div>-->
<!--</div>-->
<!--<div class="customers-info col-sm-12 paddingNone">-->
<!--<div class="customers-name">Jayne</div>-->
<!--<div class="customers-address">Dalemead, AB</div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;div class="col-md-6">-->
<!--<div class="customers-box col-sm-12">-->
<!--<div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>-->
<!--<div class="col-md-9">The meal plan and grocery list also correlated to Bethany's recipe guide that was included in her book. The recipes were easy to follow, quick to make and DELICIOUS. Even my husband likes the food. So far, a week following the plan and I feel I have more energy, feel fitter and have a better sense of wellbeing. Highly recommend!</div>-->
<!--<div class="customers-box-arrow"></div>-->
<!--</div>-->
<!--<div class="customers-info col-sm-12 paddingNone">-->
<!--<div class="customers-name">Kara</div>-->
<!--<div class="customers-address">Calgary, AB</div>-->
<!--</div>-->
<!--</div&ndash;&gt;-->
<!--</div>-->

<!--</div>-->
<!--&lt;!&ndash; Carousel indicators &ndash;&gt;-->
<!--<ol class="carousel-indicators">-->
<!--<li data-target="#customers-quote-carousel" data-slide-to="0" class="active"></li>-->
<!--<li data-target="#customers-quote-carousel" data-slide-to="1"></li>-->
<!--<li data-target="#customers-quote-carousel" data-slide-to="2"></li>-->
<!--</ol>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="all-rating">
  <hr class="hr-2dot">
  <div class="container">
    <div class="col-sm-3 text-center" data-percent="1500">
      <div class="rating-icon"><img src="images/like-icon.png" alt=""></div>
      <!--<div class="numscroller" data-max="1500">0</div>-->

      <div class="rating-number"><span class="numscroller" data-min="0" data-max="1500" data-increment="1" data-delay="0">0</span>%</div>
      <br>

      <div class="rating-text">More Energy</div>
    </div>
    <div class="col-sm-3 text-center" data-percent="1000000">
      <div class="rating-icon"><img src="images/user-icon.png" alt=""></div>
      <div class="rating-number numscroller" data-min="0" data-max="1000000" data-increment="201" data-delay="0">0</div>
      <br>

      <div class="rating-text">‘s Of Calories Lost</div>
    </div>
    <div class="col-sm-3 text-center" data-percent="150">
      <div class="rating-icon"><img src="images/home-icon.png" alt=""></div>
      <div class="rating-number"><span class="numscroller" data-min="0" data-max="150" data-increment="1" data-delay="1">0</span>%</div>
      <br>

      <div class="rating-text">More Meals At Home</div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="rating-icon"><img src="images/setting-icon.png" alt=""></div>
      <div class="rating-number numscroller" data-min="0" data-max="2641" data-increment="1" data-delay="0">0</div>
      <br>

      <div class="rating-text">More Choices</div>
    </div>
  </div>
</div>
<div class="store-info-border"></div>
<div class="blog-post-section">
  <div class="container wow rollIn center">
    <div class="blogpost-title">Blog Posts</div>
    <div class="blogpost-subtitle">Nam lobortis fringilla felis. Fusce vol utpat mi at urna cras quam vitae turpis</div>
  </div>

  <div class="container">
    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item blog_posts">

          <%#= @blogs.each do |blog| %>
          <%#= @users = User.where(:id => blog.user_id) %>
          <%#= @cateories = Category.where(:id => blog.category_id) %>
          <%#= @total_comment = Comment.where(:blog_id => blog.id) %>
          <div class="col-md-12 paddingNone">
            <div class="col-md-4 blogpost-image"><%#= image_tag(blog.image, :class => "img-responsive") if blog.image? %></div>
            <div class="col-md-8 blogpost-content">
              <div class="blogpost-content-title"><%#= link_to blog.title, welcome_blog_details_path(id:blog.id) %></div>
              <ul class="blogpost-content-list">
                <%#= @users.each do |user| %>
                <li>By Admin<%#= user.email %></li>
                <%#= end %>
                <%#= @cateories.each do |cat| %>
                <li>Beauty<%#= cat.name %></li>
                <%#= end %>
                <li><%#=  @total_comment.count %>0 Comments</li>
                <li>10 April 2015<%#= blog.created_at.strftime('%B') %>&nbsp;<%#= blog.created_at.strftime('%d') %>
                  , <%#= blog.created_at.strftime('%Y') %></li>
              </ul>
              <div class="blogpost-content-detail">Neque arcu tincidunt neque pharetra coduct modo nibh leo non libero.
                Cras augue ipsum mphare train sed. Intege ante nunc accumsan sed tempus rutrum. Lorem ipsum dolor sit
                amet consects etur adipis icing elit sed doiusm
                od tempor incididunt ut labore et dolore magna aliqua. Enim ad minim ven iam, quis nostrud exercitation
                ullamco laboris nisiut
                aliquip.<%#= link_to blog.decsription, welcome_blog_details_path(id:blog.id) %></div>
            </div>
          </div>
          <%#= end %>

          <br class="clear"><br>


          <div class="col-md-12 paddingNone">
            <div class="col-md-4 blogpost-image"></div>
            <div class="col-md-8 blogpost-content">
              <div class="blogpost-content-title">Why Diets Can Make Keeping Weight Off Worse.</div>
              <ul class="blogpost-content-list">
                <li>By Admin</li>
                <li>Garden Care</li>
                <li>3 Comments</li>
                <li>10 April 2015</li>
              </ul>
              <div class="blogpost-content-detail">Neque arcu tincidunt neque pharetra coduct modo nibh leo non libero.
                Cras augue ipsum mphare train sed. Intege ante nunc accumsan sed tempus rutrum. Lorem ipsum dolor sit
                amet consects etur adipis icing elit sed doiusm
                od tempor incididunt ut labore et dolore magna aliqua. Enim ad minim ven iam, quis nostrud exercitation
                ullamco laboris nisiut aliquip.
              </div>
            </div>
          </div>
        </div>
        <div class="item blog_posts">
          <div class="col-md-12 paddingNone">
            <div class="col-md-4 blogpost-image"></div>
            <div class="col-md-8 blogpost-content">
              <div class="blogpost-content-title">Why Diets Can Make Keeping Weight Off Worse.</div>
              <ul class="blogpost-content-list">
                <li>By Admin</li>
                <li>Garden Care</li>
                <li>3 Comments</li>
                <li>10 April 2015</li>
              </ul>
              <div class="blogpost-content-detail">Neque arcu tincidunt neque pharetra coduct modo nibh leo non libero.
                Cras augue ipsum mphare train sed. Intege ante nunc accumsan sed tempus rutrum. Lorem ipsum dolor sit
                amet consects etur adipis icing elit sed doiusm
                od tempor incididunt ut labore et dolore magna aliqua. Enim ad minim ven iam, quis nostrud exercitation
                ullamco laboris nisiut aliquip.
              </div>
            </div>
          </div>
          <br class="clear"><br>

          <div class="col-md-12 paddingNone">
            <div class="col-md-4 blogpost-image"></div>
            <div class="col-md-8 blogpost-content">
              <div class="blogpost-content-title">Why Diets Can Make Keeping Weight Off Worse.</div>
              <ul class="blogpost-content-list">
                <li>By Admin</li>
                <li>Garden Care</li>
                <li>3 Comments</li>
                <li>10 April 2015</li>
              </ul>
              <div class="blogpost-content-detail">Neque arcu tincidunt neque pharetra coduct modo nibh leo non libero.
                Cras augue ipsum mphare train sed. Intege ante nunc accumsan sed tempus rutrum. Lorem ipsum dolor sit
                amet consects etur adipis icing elit sed doiusm
                od tempor incididunt ut labore et dolore magna aliqua. Enim ad minim ven iam, quis nostrud exercitation
                ullamco laboris nisiut aliquip.
              </div>
            </div>
          </div>
        </div>


        <div class="item blog_posts">
          <div class="col-md-12 paddingNone">
            <div class="col-md-4 blogpost-image"></div>
            <div class="col-md-8 blogpost-content">
              <div class="blogpost-content-title">Why Diets Can Make Keeping Weight Off Worse.</div>
              <ul class="blogpost-content-list">
                <li>By Admin</li>
                <li>Garden Care</li>
                <li>3 Comments</li>
                <li>10 April 2015</li>
              </ul>
              <div class="blogpost-content-detail">Neque arcu tincidunt neque pharetra coduct modo nibh leo non libero.
                Cras augue ipsum mphare train sed. Intege ante nunc accumsan sed tempus rutrum. Lorem ipsum dolor sit
                amet consects etur adipis icing elit sed doiusm
                od tempor incididunt ut labore et dolore magna aliqua. Enim ad minim ven iam, quis nostrud exercitation
                ullamco laboris nisiut aliquip.
              </div>
            </div>
          </div>
          <br class="clear"><br>

          <div class="col-md-12 paddingNone">
            <div class="col-md-4 blogpost-image"></div>
            <div class="col-md-8 blogpost-content">
              <div class="blogpost-content-title">Why Diets Can Make Keeping Weight Off Worse.</div>
              <ul class="blogpost-content-list">
                <li>By Admin</li>
                <li>Garden Care</li>
                <li>3 Comments</li>
                <li>10 April 2015</li>
              </ul>
              <div class="blogpost-content-detail">Neque arcu tincidunt neque pharetra coduct modo nibh leo non libero.
                Cras augue ipsum mphare train sed. Intege ante nunc accumsan sed tempus rutrum. Lorem ipsum dolor sit
                amet consects etur adipis icing elit sed doiusm
                od tempor incididunt ut labore et dolore magna aliqua. Enim ad minim ven iam, quis nostrud exercitation
                ullamco laboris nisiut aliquip.
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
        <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</div>
<div class="client-box">
  <div class="container">
    <div class="client-whiteBox wow fadeInDown">
    <div class="client-whiteBox wow fadeInDown">
      <div class="client-info"></div>
      <div class="client-info"></div>
      <div class="client-info"></div>
      <div class="client-info"></div>
      <div class="client-info"></div>
    </div>
      </div>
  </div>
</div>
<div class="social-Box">
  <div class="hr-social"></div>
  <div class="container social-centerBox wow fadeInDown">
    <div class="col-md-6">
      <div class="col-md-4 follow-text">Follow Us <br> On Social Media</div>
      <div class="col-md-8">
        <div class="col-md-12 social-media-iconlist">
          <div><i class="fa fa-facebook"></i></div>
          <div><i class="fa fa-twitter"></i></div>
          <!--<div><i class="fa fa-pinterest-p"></i></div>-->
          <!--<div><i class="fa fa-youtube-play"></i></div>-->
          <div><i class="fa fa-instagram"></i></div>
          <div><i class="fa fa-linkedin"></i></div>
          <!--<div><i class="fa fa-google-plus"></i></div>-->
        </div>
        <div class="col-md-12"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="col-sm-12 saveoffericonBox">Limited Time offer</div>
      </div>
      <div class="col-sm-12 saveoffer">Save 20% For 2 Or More Packages Within The Same Family.</div>
    </div>
  </div>
</div>


<!--<script src="assets/javascripts/wow.min.js"></script>-->
<!--<script src="assets/stylesheets/animation.js"></script>-->

