
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<style>
.store-info{
  /*background-image: url("../images/green-back.png") !important;*/
}

@font-face {
    font-family: mtcorsva;
    src: url(MTCORSVA.woff);
}

.change-you-life1 {
    background-image: url("../images/orange-back.png");
    width: 100%;
    padding-top: 60px;
    padding-bottom: 122px;
}

.link-second-click{
    font-family: 'lobster' , cursive;
}
</style>
<div class="topborder"></div>
<div class="social-iconBox">
  <div class="container">
    <div class="col-md-9 top-email">
      <span>Bethany Gettis - Holistic Nutritionist</span>
      <span>+1 403 612 7767 </span>
      <span>nutrition4yoursoul@gmail.com</span>
</div>
    <div class="col-md-3 social-icons">
      <span><i class="fa fa-facebook"></i></span>
      <span><i class="fa fa-twitter"></i></span>
      <span><i class="fa fa-pinterest-p"></i></span>
      <span><i class="fa fa-youtube-play"></i></span>
      <span><i class="fa fa-instagram"></i></span>
      <span><i class="fa fa-google-plus"></i></span>
</div>
  </div>
  <hr class="hr-dot">
</div>
<nav class="navbar navbar-background" role="navigation" style="margin-top: -40px;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle menu_space" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="company-logo" href="#"><img src="images/logo.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-right-pull" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li style="font-family:'lobster' , cursive;"><%= link_to 'Home' , root_path, :class => 'link-second-click' %></li>
        <li><%= link_to 'About' , about_path %></li>
        <li><%= link_to 'PACKAGES' , package_path %></li>
        <li><%= link_to 'STORE' , store_path %></li>
        <li><%= link_to 'BLOG' , blog_path %></li>
        <li><%= link_to 'CONTACT' , "#" %></li>
        <li><input type="text" name="search" class="input-search" placeholder="CONTACT NUTRITIONIST" style="font-weight: bold;"></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="header">
  <div class="container">
    <div class="header-content"> 
    <div class="header-title">Your Greatest Wealth Is <br> Your Health...</div>
    <div class="header-subtitle">We create custom made meal plan to cater to you and your family.</div>
    <div class="header-arrow"><img src="images/header-arrow.png" alt=""> </div>
  </div>
  </div>
  <div class="header-flower"> <img src="images/header-flower.png" alt=""> </div>
</div>
<div class="store-info">
  <div class="container">
    <div class="col-md-4">
      <div class="watch-videoButton"><img src="images/save-time.png" alt="">  Watch video</div>
      <div class="subbotton">Monday - Friday : 9AM to 6PM</div>
      <div class="subbotton">Saturday : 10AM to 4PM</div>
      <div class="subbotton">Sunday : 9 AM to 3PM</div>
    </div>
    <div class="col-md-4">
      <div class="watch-videoButton"><img src="images/call-conncet.png" alt="">  healthy shopping</div>
      <div class="health-shop-number">+1 403 612 7767</div>
      <div class="health-shop-detail">We offer our customers 24 hrs helpline. Got a question? Call Us Now</div>
    </div>
    <div class="col-md-4">
      <div class="watch-videoButton"><img src="images/earth.png" alt="">  Talk To nutritionist</div>
      <div class="talk-shop-detail">151 West Spring Road SW Calgary, AB</div>
      <div class="subbotton">+1 403 612 7767</div>
      <div class="subbotton">nutrition4yoursouls@gmail.com</div>
    </div>
  </div>
</div>
<div class="store-info-border"></div>
<div class="change-the-way">
  <div class="container">
    <div class="col-md-8">
    
      <div class="change-the-way-title">Change The Way You Eat!</div>
      <div class="change-the-way-subtitle">The first question we want to know is....what are you goals?  <br>We work with a wide variety of people, with a wide variety of goals.</div>
    
      <div class="row">
        <div class="col-sm-4">
          <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-stacked change-the-tab">
            <li class="active"><a href="#vtab1" data-toggle="tab">Vegetarian / Vegan</a></li>
            <li><a href="#vtab2" data-toggle="tab">Detox </a></li>
            <li><a href="#vtab3" data-toggle="tab">Weight Loss</a></li>
            <li><a href="#vtab4" data-toggle="tab">Gluten Free</a></li>
            <li><a href="#vtab5" data-toggle="tab">Family Planning</a></li>
          </ul>
        </div>
        <div class="col-sm-8 change_content_tab">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
                <div class="vegetarian-title">Vegetarian / Vegan</div>
                <p class="vegetarian-p">Do you feel constrained by what seems like limited options for vegan / vegetarian diets?  <br><br>

We worry no more more, our nutritionists will help you craft a plan that will enrich your life with all the essential nutrients you need to live a balanced &amp; healthy lifestyle.</p>
                <ul class="vegetarian-list">
                  <li>Keep protein levels balanced</li>
                  <li>Creative and tasty alternatives</li>
                  <li>Learn where to quickly find the foods you need.</li>
                </ul>
          
                <div class="free-quote">Request Free Quote</div>
          
            </div>
            <div role="tabpanel" class="tab-pane fade" id="vtab2"></div>
            <div role="tabpanel" class="tab-pane fade in" id="vtab3"></div>
            <div role="tabpanel" class="tab-pane fade" id="vtab4"></div>
            <div role="tabpanel" class="tab-pane fade in" id="vtab5"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"> <img src="images/change-the-way-banner.png" class="img-responsive" alt=""> </div>
  </div>
</div>
<div class="change-you-life1">

  <!--div class="container">
    <div class="col-md-6">
      <div class="life-change-title">Change Your Life, One Step At A Time!</div>
      <div class="life-change-subtitle">View all of our packages and the steps involved with them.</div>
    </div>
    <div class="col-md-6">
      <div class="our-packages">
        See Our Packages<br>
        <span class="our-packages-subtitle">And Live The Life You Want!</span>
      </div>
    </div>
  </div-->


</div>
<div class="change-your-border"></div>
<div class="discover-everythink">
  <div class="container">
    <div class="col-md-6">
      <img src="images/discover-everythink.png" class="img-responsive" alt="">
    </div>
    <div class="col-md-6">
      <div class="discover-title">Discover Everything You Need To Know About Nutrition For You And Your Family!</div>
      <p class="discover-title-detail">Whoever said that healthy food can’t be tastey? At Nutritious And Delicious we spend ALOT of time planning out meals that will make you craving breakfast, lunch &amp; dinner.</p>
      
      <ul class="discover-everythink-list">
        <li>Imagine how your view of the grocery store would change if you had a professional showing you around. Learn exactly what labels mean when you are in a grocery store. </li>
        
        <li>Age slowly and gracefully. Healthy skin, nails and teeth are just some of the benefits of a healthy lifestyle and proper diet that will follow you through the ages.</li>
        
        <li>We are all different right? That is why it is essential to balance your weight in proportion to your unique metabolism.</li>
        
      </ul>
      
    </div>
  </div>
  
</div>



<div class="yummy-recipes">
  <div class="container">
    <div class="yummy-recipes-title">Yummy Recipes</div>
    <div class="yummy-recipes-subtitle">These are just a few of the tantalizing flavours we can introduce to your pallet.....</div>
  </div>
</div>
<div class="yummy-recipesBox col-lg-12 paddingNone">
  <div class='yummy-recipes-slidBox col-sm-12'>
    <div class="col-sm-3 paddingNone yummy-recipes-slidBox">
      <div class='description'>
        <!-- description content -->
        <div class='description_content'>
          <div class="text-center zoom_page text-center">
            <span class="paddingright10"><img src="images/zoom-icom.png" alt=""></span>
            <span><img src="images/detail-icon.png" alt=""></span>
            
            <div class="col-sm-12"><div class="zoomName">Page Detail</div></div>
          </div>
        </div>
        <!-- end description content -->
      </div>
    </div>
    <div class="col-sm-3 paddingNone yummy-recipes-slidBox">
      <div class='description'>
        <!-- description content -->
        <div class='description_content'>
          <div class="text-center zoom_page text-center">
            <span class="paddingright10"><img src="images/zoom-icom.png" alt=""></span>
            <span><img src="images/detail-icon.png" alt=""></span>
            
            <div class="col-sm-12"><div class="zoomName">Page Detail</div></div>
          </div>
        </div>
        <!-- end description content -->
      </div>
    </div>
    <div class="col-sm-3 paddingNone yummy-recipes-slidBox">
      <div class='description'>
        <!-- description content -->
        <div class='description_content'>
          <div class="text-center zoom_page text-center">
            <span class="paddingright10"><img src="images/zoom-icom.png" alt=""></span>
            <span><img src="images/detail-icon.png" alt=""></span>
            
            <div class="col-sm-12"><div class="zoomName">Page Detail</div></div>
          </div>
        </div>
        <!-- end description content -->
      </div>
    </div>
    <div class="col-sm-3 paddingNone yummy-recipes-slidBox">
      <div class='description'>
        <!-- description content -->
        <div class='description_content'>
          <div class="text-center zoom_page text-center">
            <span class="paddingright10"><img src="images/zoom-icom.png" alt=""></span>
            <span><img src="images/detail-icon.png" alt=""></span>
            
            <div class="col-sm-12"><div class="zoomName">Page Detail</div></div>
          </div>
        </div>
        <!-- end description content -->
      </div>
    </div>
  </div>
  </div>
  <br class="clear">
<div class="col-sm-12 yummy-read-more-box">
<div class="yummy-read-more">Read More</div>
</div>
<br class="clear">
<div class="yummy-recipes-border"></div>
</div>
<div class="customers-saying">
  <div class="container">
    <div class="customers-saying-title">What Customers Are Saying</div>
    <div class="customers-saying-subtitle">See for your self some of the dramatic results we have created for our clients.</div>
  </div>
  <div class="container">
    <div class="carousel slide" id="customers-quote-carousel" data-ride="carousel" data-interval="3000">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item blog_posts">

          <div class="col-md-6">
            <div class="customers-box col-sm-12">
            <div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
            <div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was</div>
            <div class="customers-box-arrow"></div>
            </div>
            <div class="customers-info col-sm-12 paddingNone">
              <div class="customers-name">Kara H</div>
              <div class="customers-address">Home Owner, Aspen Woods - Calgary</div>
            </div>
    </div>

          <div class="col-md-6">
            <div class="customers-box col-sm-12">
            <div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
            <div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was</div>
            <div class="customers-box-arrow"></div>
            </div>
            <div class="customers-info col-sm-12 paddingNone">
              <div class="customers-name">Jeebon Heza</div>
              <div class="customers-address">Home Owner, Newyork</div>
            </div>
          </div>

        </div>
        <div class="item blog_posts">
          <div class="col-md-6">
            <div class="customers-box col-sm-12">
            <div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
            <div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was</div>
            <div class="customers-box-arrow"></div>
            </div>
            <div class="customers-info col-sm-12 paddingNone">
              <div class="customers-name">Kara H</div>
              <div class="customers-address">Home Owner, Aspen Woods - Calgary</div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="customers-box col-sm-12">
            <div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
            <div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was</div>
            <div class="customers-box-arrow"></div>
            </div>
            <div class="customers-info col-sm-12 paddingNone">
              <div class="customers-name">Jeebon Heza</div>
              <div class="customers-address">Home Owner, Newyork</div>
            </div>
          </div>

        </div>
        <div class="item blog_posts">
          <div class="col-md-6">
            <div class="customers-box col-sm-12">
            <div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
            <div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was</div>
            <div class="customers-box-arrow"></div>
            </div>
            <div class="customers-info col-sm-12 paddingNone">
              <div class="customers-name">Kara H</div>
              <div class="customers-address">Home Owner, Aspen Woods - Calgary</div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="customers-box col-sm-12">
            <div class="col-md-3 text-center"><img src="images/comment-user.png" class="img-responsive" alt=""></div>
            <div class="col-md-9">I recently signed up with Bethany at nutritious and delicious and am very pleased with the results. Bethany did a full, detailed analysis of my lifestyle, day-to-day activities, and food intake. I always had issues with my weight and energy and I knew I wasn't eating copious amounts of bad food and I was</div>
            <div class="customers-box-arrow"></div>
            </div>
            <div class="customers-info col-sm-12 paddingNone">
              <div class="customers-name">Jeebon Heza</div>
              <div class="customers-address">Home Owner, Newyork</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#customers-quote-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#customers-quote-carousel" data-slide-to="1"></li>
        <li data-target="#customers-quote-carousel" data-slide-to="2"></li>
      </ol>   
    </div>
  </div>
</div>
<div class="all-rating">
<hr class="hr-2dot">
  <div class="container">
    <div class="col-sm-3 text-center">
      <div class="rating-icon"><img src="images/like-icon.png" alt=""></div>
      <div class="rating-number">1500% </div>
      <div class="rating-text">More Energy</div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="rating-icon"><img src="images/user-icon.png" alt=""></div>
      <div class="rating-number">1, 000, 000 </div>
      <div class="rating-text">‘s Of Calories Lost</div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="rating-icon"><img src="images/home-icon.png" alt=""></div>
      <div class="rating-number">150% </div>
      <div class="rating-text">More Meals At Home</div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="rating-icon"><img src="images/setting-icon.png" alt=""></div>
      <div class="rating-number">2641 </div>
      <div class="rating-text">More Choices</div>
    </div>
  </div>
</div>
<div class="store-info-border"></div>
<div class="blog-post-section">
  <div class="container">
    <div class="blogpost-title">Blog Posts</div>
    <div class="blogpost-subtitle">Nam lobortis fringilla felis. Fusce vol utpat mi at urna cras quam vitae turpis</div>
  </div>
  
  <div class="container">
    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item blog_posts">
        <div class="col-md-12 paddingNone">
          <div class="col-md-4 blogpost-image"></div>
          <div class="col-md-8 blogpost-content">
            <div class="blogpost-content-title">Why Diets Can Make Keeping Weight Off Worse.</div>
            <ul class="blogpost-content-list">
              <li>By Admin</li>
              <li>Garden Care</li>
              <li>3 Comments</li>
              <li>10 April 2015</li>
            </ul>
            <div class="blogpost-content-detail">Neque arcu tincidunt neque pharetra coduct modo nibh leo non libero. Cras augue ipsum mphare train sed. Intege ante nunc accumsan sed tempus rutrum. Lorem ipsum dolor sit amet consects etur adipis icing elit sed doiusm
      od tempor incididunt ut labore et dolore magna aliqua. Enim ad minim ven iam, quis nostrud exercitation ullamco laboris nisiut aliquip.</div>
          </div>
        </div>
        <br class="clear"><br>
        <div class="col-md-12 paddingNone">
          <div class="col-md-4 blogpost-image"></div>
          <div class="col-md-8 blogpost-content">
            <div class="blogpost-content-title">Why Diets Can Make Keeping Weight Off Worse.</div>
            <ul class="blogpost-content-list">
              <li>By Admin</li>
              <li>Garden Care</li>
              <li>3 Comments</li>
              <li>10 April 2015</li>
            </ul>
            <div class="blogpost-content-detail">Neque arcu tincidunt neque pharetra coduct modo nibh leo non libero. Cras augue ipsum mphare train sed. Intege ante nunc accumsan sed tempus rutrum. Lorem ipsum dolor sit amet consects etur adipis icing elit sed doiusm
      od tempor incididunt ut labore et dolore magna aliqua. Enim ad minim ven iam, quis nostrud exercitation ullamco laboris nisiut aliquip.</div>
          </div>
        </div>
</div>
        <div class="item blog_posts">
          <div class="col-md-12 paddingNone">
            <div class="col-md-4 blogpost-image"></div>
            <div class="col-md-8 blogpost-content">
              <div class="blogpost-content-title">Why Diets Can Make Keeping Weight Off Worse.</div>
              <ul class="blogpost-content-list">
                <li>By Admin</li>
                <li>Garden Care</li>
                <li>3 Comments</li>
                <li>10 April 2015</li>
              </ul>
              <div class="blogpost-content-detail">Neque arcu tincidunt neque pharetra coduct modo nibh leo non libero. Cras augue ipsum mphare train sed. Intege ante nunc accumsan sed tempus rutrum. Lorem ipsum dolor sit amet consects etur adipis icing elit sed doiusm
        od tempor incididunt ut labore et dolore magna aliqua. Enim ad minim ven iam, quis nostrud exercitation ullamco laboris nisiut aliquip.</div>
            </div>
</div>
          <br class="clear"><br>
          <div class="col-md-12 paddingNone">
            <div class="col-md-4 blogpost-image"></div>
            <div class="col-md-8 blogpost-content">
              <div class="blogpost-content-title">Why Diets Can Make Keeping Weight Off Worse.</div>
              <ul class="blogpost-content-list">
                <li>By Admin</li>
                <li>Garden Care</li>
                <li>3 Comments</li>
                <li>10 April 2015</li>
              </ul>
              <div class="blogpost-content-detail">Neque arcu tincidunt neque pharetra coduct modo nibh leo non libero. Cras augue ipsum mphare train sed. Intege ante nunc accumsan sed tempus rutrum. Lorem ipsum dolor sit amet consects etur adipis icing elit sed doiusm
        od tempor incididunt ut labore et dolore magna aliqua. Enim ad minim ven iam, quis nostrud exercitation ullamco laboris nisiut aliquip.</div>
            </div>
</div>
        </div>
        <div class="item blog_posts">
          <div class="col-md-12 paddingNone">
            <div class="col-md-4 blogpost-image"></div>
            <div class="col-md-8 blogpost-content">
              <div class="blogpost-content-title">Why Diets Can Make Keeping Weight Off Worse.</div>
              <ul class="blogpost-content-list">
                <li>By Admin</li>
                <li>Garden Care</li>
                <li>3 Comments</li>
                <li>10 April 2015</li>
              </ul>
              <div class="blogpost-content-detail">Neque arcu tincidunt neque pharetra coduct modo nibh leo non libero. Cras augue ipsum mphare train sed. Intege ante nunc accumsan sed tempus rutrum. Lorem ipsum dolor sit amet consects etur adipis icing elit sed doiusm
        od tempor incididunt ut labore et dolore magna aliqua. Enim ad minim ven iam, quis nostrud exercitation ullamco laboris nisiut aliquip.</div>
            </div>
</div>
          <br class="clear"><br>
          <div class="col-md-12 paddingNone">
            <div class="col-md-4 blogpost-image"></div>
            <div class="col-md-8 blogpost-content">
              <div class="blogpost-content-title">Why Diets Can Make Keeping Weight Off Worse.</div>
              <ul class="blogpost-content-list">
                <li>By Admin</li>
                <li>Garden Care</li>
                <li>3 Comments</li>
                <li>10 April 2015</li>
              </ul>
              <div class="blogpost-content-detail">Neque arcu tincidunt neque pharetra coduct modo nibh leo non libero. Cras augue ipsum mphare train sed. Intege ante nunc accumsan sed tempus rutrum. Lorem ipsum dolor sit amet consects etur adipis icing elit sed doiusm
        od tempor incididunt ut labore et dolore magna aliqua. Enim ad minim ven iam, quis nostrud exercitation ullamco laboris nisiut aliquip.</div>
            </div>
</div>
        </div>
      </div>
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
        <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
</ol>   
    </div>
  </div>
</div>
<div class="client-box">
  <div class="container">
    <div class="client-whiteBox">
      <div class="client-info"></div>
      <div class="client-info"></div>
      <div class="client-info"></div>
      <div class="client-info"></div>
      <div class="client-info"></div>
    </div>
  </div>
</div>
<div class="social-Box">
  <div class="hr-social"></div>
  <div class="container social-centerBox">
    <div class="col-md-6">
      <div class="col-md-4 follow-text">Follow Us <br> On Social Media</div>
      <div class="col-md-8">
        <div class="col-md-12 social-media-iconlist">
          <div><i class="fa fa-facebook"></i></div>
          <div><i class="fa fa-twitter"></i></div>
          <div><i class="fa fa-pinterest-p"></i></div>
          <div><i class="fa fa-youtube-play"></i></div>
          <div><i class="fa fa-instagram"></i></div>
          <div><i class="fa fa-google-plus"></i></div>
        </div>
        <div class="col-md-12"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <div class="col-sm-12 saveoffericonBox">Limited Time offer</div>
      </div>
      <div class="col-sm-12 saveoffer">Save 20% For 2 Or More Packages WIthin The Same Family.</div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="col-md-3">
      <div><img src="images/footer-logo.png" alt=""></div>
      <div class="footer-about-detail">Neque arcu tincidunt neque pharetra code uct modo nibh leo non libero. Cras augues ipsum mpharetra inter sed. Integ er anterl nunc accumsan sed tempus rutrum.</div>
      <div class="footer-about-readMore">Read More</div>
      <div class="subscribe-newsletter">Subscribe Newsletter</div>
      <div>
        <input type="text" name="name" class="footer-subscribe-input">
        <button class="footer-subscribe-button"><i class="fa fa-envelope-o"></i></button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="latest-tweets-title">Latest Tweets</div>
      <ul class="latest-tweets-list">
        <li>
          <div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
          <div class="latest-tweets-time">1 minute ago</div>
        </li>
        <li>
          <div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
          <div class="latest-tweets-time">1 minute ago</div>
        </li>
        <li>
          <div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
          <div class="latest-tweets-time">1 minute ago</div>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="latest-tweets-title">Instagram Feed</div>
      <ul class="latest-instagram-list">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="col-md-12">
        <div class="latest-tweets-title">Contact Info</div>
        <div class="row contact-fild">
          <div class="col-md-5 contact-title">Address:</div>
          <div class="col-md-7 contact-name">151 West Srpints Road SW <br>Calgary, AB <br>T3H 4P6</div>
        </div>
        <div class="row contact-fild">
          <div class="col-md-5 contact-title">CA Office:</div>
          <div class="col-md-7 contact-name">+ 1 403 612 7767</div>
        </div>
        <div class="row contact-fild">
          <div class="col-md-5 contact-title">Email:</div>
          <div class="col-md-7 contact-name">nutrition4yoursoul@gmail.com</div>
        </div>
        
        <div class="row contact-fild">
          <div class="send-message-box">Send Message</div>
        </div>
        
      </div>
    </div>
  </div>
</footer>
<div class="footer-border"></div>
<div class="copyright-Box">
  <div class="container">
    <div class="col-sm-6 copyright-text">
      Copyrights Nutritious &amp; Delicious 2015
    </div>
    <div class="col-sm-6">
      <ul class="footer-menu-list">
        <li><%= link_to 'HOME' , root_path, :class => 'active' %></li>
        <li><%= link_to 'ABOUT' , about_path %></li>
        <li><%= link_to 'PACKAGES' , "#" %></li>
        <li><%= link_to 'STORE' , store_path %></li>
        <li><%= link_to 'BLOG' , blog_path %></li>
        <li><%= link_to 'CONTACT' , "#" %></li>
      </ul>
    </div>
  </div>  
</div>