<style>

    .change-you-life1 {
        background-image: url("../images/orange-back.png");
        width: 100%;
        padding-top: 60px;
        padding-bottom: 122px;
    }
</style>
<br>
<br>

<header class="sub_header sub_header_contact_bg">
  <div class="container">
    <div class="sub_header_title">Store</div>
    <div class="sub_header_detail">Have a question or comment? Get in touch!</div>
  </div>
</header>
<div class="sub_header_flower"><img src="images/header-flower.png" alt=""></div>
<div class="sub_breadcrumb">
  <div class="white_dashed"></div>
  <div class="container">
    <div class="sub_top_menu">
      <ul>
        <li><%= link_to 'Home', root_path, :class => '' %></li>
        <li><%= link_to 'Shop', store_path %></li>
        <li><a href="">Lawn Movers</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="green_dot_border"></div>
<div class="blog_container">
  <div class="container">
    <div class="col-md-3">
      <div class="col-sm-12 item_left_item">
        <div class="row">
          <div class="blog_categories">Categories</div>
          <!------------ product list-------------->
          <div class="item_price_left_item col-sm-12">
            <% @categories.each do |category| %>
                <div class="accordion-container">
                  <div class="accordion-toggle">
                    <span class="item_list_flower"><img src="images/none_active_list_flower.png" alt=""></span>
                    <%= link_to category.name, store_path(:s_i => category.search_index, :key => category.keyword), :style => "background-color: none !important" %>
                    <span class="toggle-icon"><img src="images/item_list_plus.png" alt=""></span>
                  </div>

                  <div class="accordion-content">
                    <ul>
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                    </ul>
                  </div>
                  <!--/.accordion-content-->
                </div>
            <% end %>
          </div>


          <!------------ product list-------------->
        </div>
      </div>


      <div class="col-sm-12 item_price_left_item ">
        <div class="row ">
          <div class="blog_categories ">Recent Post</div>
          <div class="col-sm-12 filter_item_box ">
            <div id="slider-range"></div>
          </div>
          <form method="post " action="get_items.php ">
            <!--<input type="hidden " id="amount1 ">-->
            <!--<input type="hidden " id="amount2 ">-->

            <div class="filter_box ">
              <div class="col-sm-6"><input type="submit " name="submit_range " class="submit_range " value="Submit ">
              </div>
              <div class="col-sm-6 item_price_value ">Price : <span id="amount "></span></div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-sm-12 blog_left_item ">
        <div class="row ">
          <div class="blog_categories ">Recent Post</div>
          <div class="col-sm-12 recent_post_box ">
            <div class="recent_post_cate_name ">I myself have realized over the</div>
            <div class="recent_post_cate_date "><img src="images/time_icon.png" alt=" "><samp>October 30, 2015</samp>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 paddingNone blog_left_item ">

        <div class="offer_limit ">
          <div class="offer_limit_title1 ">Limited Time</div>
          <div class="offer_limit_title2 "><span>offer</span></div>
          <div class="offer_limit_text ">
            <div class="offer_limit_price ">20% OFF</div>
            <div class="offer_limit_price_detail ">Save 20% For 2 or More Packahes Within The Same Family</div>
          </div>
        </div>

      </div>


    </div>
    <div class="col-md-9">
      <div class="item_detail_title"><%= @product.name %></div>
      <div class="item_detail_subtitle"><%= @product.name %></div>
      <div class="item_detail_review">
        <span class="item_rating"> <img src="images/active_star.png" alt=""> <img src="images/active_star.png" alt=""> <img src="images/active_star.png" alt=""> <img src="images/active_star.png" alt=""> <img src="images/active_star.png" alt=""> </span>
        <span class="item_rating_number">5 Reviews</span> <span class="item_rating_words">Add A Review</span></div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-6 item_img"><%= image_tag(@product.image_url, :style => 'width:100%;height:100%;') %></div>
          <div class="col-md-6">
            <div class="item_product_description_title">Product Description</div>
            <div class="item_product_description"><%= @product.feature %></div>
            <div class="item_price_boxtab"><span class="normal_price"><%= @product.price %></span>
              <span class="offer_price"><%= @product.price %></span></div>
            <div class="col-sm-12 paddingNone">
              <div class="add_to_card_box col-sm-5">
                <div class="inc button add_to_card_input"></div>
                <div class="add_to_card_input">
                  <input type="text" id="quantity" name="french-hens" value="1">
                </div>
                <div class="dec button add_to_card_input" data-type="plus"></div>
              </div>
              <div class="col-sm-6">
                <% if user_signed_in? %>
                    <div class="input_add_card create_cart">Add To Cart</div>
                <% else %>
                    <div class="input_add_card redirect_user">Add To Cart</div>
                <% end %>
              </div>
            </div>
            <div class="item_category col-sm-12 paddingNone">Category: Garden Tools. Lawn movers, Best Sellers</div>
            <div class="socail_share_icon col-sm-12 paddingNone">
              <div class="socail_share_icon_title">Share</div>
              <div class="socail_share_icon_detail"><span><a href=""><i class="fa fa-facebook"></i></a></span>
                <span><a href=""><i class="fa fa-twitter"></i></a></span>
                <span><a href=""><i class="fa fa-pinterest-p"></i></a></span>
                <span><a href=""><i class="fa fa-youtube-play"></i></a></span>
                <span><a href=""><i class="fa fa-instagram"></i></a></span>
                <span><a href=""><i class="fa fa-google-plus"></i></a></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <ul class="nav-tabs item_tab_title">
            <li class="item_detail_info_title active"><a href="#tab1primary" data-toggle="tab">Description</a></li>
            <li class="item_detail_info_title"><a href="#tab2primary" data-toggle="tab">Reviews</a></li>
            <li class="item_detail_info_title"><a href="#tab3primary" data-toggle="tab">Delivery Information</a></li>
          </ul>
          <div class="panel-body col-sm-12">
            <div class="tab-content">
              <div class="item_detail_info tab-pane fade in active" id="tab1primary">
                <%= @product.feature %>
              </div>
              <div class="item_detail_info tab-pane fade" id="tab2primary">
                <iframe style="border: none !important; width: 100%; height: auto;" src=<%= @product.review %>>
                  <p>No reviews for this product</p>
                </iframe>
              </div>
              <div class="item_detail_info tab-pane fade" id="tab3primary">Primary 3</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 paddingNone">
        <div class="row">
          <div class="col-sm-12 related_products">Related Products</div>
          <div class="item_box_responsive">
            <div class="col-sm-12 item_box">
              <div class="col-sm-12 item_image"></div>
              <div class="col-sm-12 item_title">Demo Name</div>
              <div class="col-sm-12 item_subtitle">Demo</div>
              <div class="col-sm-12 paddingNone add_card_and_price">
                <div class="col-sm-6 item_add_button paddingNone">Add to Card</div>
                <div class="col-sm-5 paddingNone text-right reviewAndprice">
                  <div class="item_price">$59</div>
                  <div class="item_review">
                    <img src="images/active_star.png" alt=""><img src="images/active_star.png" alt=""><img src="images/none_star.png" alt=""><img src="images/none_star.png" alt=""><img src="images/none_star.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item_box_responsive">
            <div class="col-sm-12 item_box">
              <div class="item_sele_box"><img src="images/item_sele.png" alt=""></div>
              <div class="col-sm-12 item_image"></div>
              <div class="col-sm-12 item_title">Demo Name</div>
              <div class="col-sm-12 item_subtitle">Demo</div>
              <div class="col-sm-12 paddingNone add_card_and_price">
                <div class="col-sm-6 item_add_button paddingNone">Add to Card</div>
                <div class="col-sm-5 paddingNone text-right reviewAndprice">
                  <div class="item_price">$59</div>
                  <div class="item_review">
                    <img src="images/active_star.png" alt=""><img src="images/active_star.png" alt=""><img src="images/none_star.png" alt=""><img src="images/none_star.png" alt=""><img src="images/none_star.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item_box_responsive">
            <div class="col-sm-12 item_box">
              <div class="col-sm-12 item_image"></div>
              <div class="col-sm-12 item_title">Demo Name</div>
              <div class="col-sm-12 item_subtitle">Demo</div>
              <div class="col-sm-12 paddingNone add_card_and_price">
                <div class="col-sm-6 item_add_button paddingNone">Add to Card</div>
                <div class="col-sm-5 paddingNone text-right reviewAndprice">
                  <div class="item_price">$59</div>
                  <div class="item_review">
                    <img src="images/active_star.png" alt=""><img src="images/active_star.png" alt=""><img src="images/none_star.png" alt=""><img src="images/none_star.png" alt=""><img src="images/none_star.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="our_brands_list">
  <div class="our_brands_list_border"></div>
  <div class="container our_brands_list_container">
    <div class="our_brands_list_title">Our Brands</div>
    <br>

    <div class="our_brands_list_subtitle">Nam lobortis fringilla felis. Fusce vol utpat mi at urna ras quam vitae</div>
    <div class="our_brands_list_name">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
<div class="return_shipping_detail_border"></div>
<div class="return_shipping_detail">
  <div class="container">
    <div class="col-md-4 return_exchange">
      <div><img src="images/return_policy.png" class="vertical-align" alt=""></div>
      <div><span>Return &amp; Exchange in 5 working days</span>
        <span class="return_exchange_subtitle">Lorem ipsum dolor sit amet consectetur</span></div>
    </div>
    <div class="col-md-4">
      <div class="col-sm-12">
        <div class="col-sm-12 saveoffericonBox">Limited Time offer</div>
      </div>
      <div class="col-sm-12 saveoffer">Get Our Services &amp; Get 25% Off</div>
    </div>
    <div class="col-md-4 return_exchange">
      <div><img src="images/walit.png" class="vertical-align" alt=""></div>
      <div><span>Return &amp; Exchange in 5 working days</span>
        <span class="return_exchange_subtitle">Lorem ipsum dolor sit amet consectetur</span></div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".redirect_user").click(function () {
            alert("You need to sign in before you can add to your cart");
            window.location.replace("http://nutritiousapp.herokuapp.com/users/sign_in");
        });
        $(".create_cart").click(function () {
//            alert("sadasd");
            var quantity = $("#quantity").val();
//            alert(quantity);
            var offer_id = "<%= @product.offer_listing_id %>";
//            alert(offer_id);
            $.ajax({
                method: "POST",
                url: "/cart_creation",
                data: { quantity: quantity, offer_id: offer_id },
//                success: success,
                dataType: "html"
            })
                .done(function(msg) {
                      window.location.replace("http://nutritiousapp.herokuapp.com/cart_get");

                    });
//      window.location.replace("http://localhost:3000/users/sign_in");
        })
    });
</script>
