<style>
#pt-name a:hover{background-color: white;}
#pt-name1 a:hover{color: black; background-color:white;}

</style>

<div class="topborder"></div>

<div class="white-social-iconBox">
  <div class="container">
    <div class="col-md-8 white-top-email">
      <span>Bethany Gettis - Holistic Nutritionist</span>
      <span>+1 403 612 7767 </span>
      <span>nutrition4yoursoul@gmail.com</span>
    </div>
    <div class="col-md-4 white-social-icons">
      <span><i class="fa fa-facebook"></i></span>
      <span><i class="fa fa-twitter"></i></span>
      <span><i class="fa fa-pinterest-p"></i></span>
      <span><i class="fa fa-youtube-play"></i></span>
      <span><i class="fa fa-instagram"></i></span>
      <span><i class="fa fa-google-plus"></i></span>
    </div>
  </div>
  <hr class="hr-dot">
</div>


<nav class="navbar-default navbar-background" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="company-sublogo" href="#"><img src="images/sub-logo.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control pull-right" style="font-size:14px;width: 250px; background-color: #fff;" placeholder="Search...">
								<span class="input-group-btn">
									<button type="reset" class="btn btn-default">
										<span class="glyphicon glyphicon-remove">
											<span class="sr-only">Close</span>
										</span>
                                    </button>
									<button type="submit" class="btn btn-default search-button">
										<span class="glyphicon glyphicon-search">
											<span class="sr-only">Search</span>
										</span>
                                    </button>
								</span>
            </div>
          </form>
        </li>

        <li><%= link_to 'Home' , root_path, :class => 'active' %></li>
        <li><%= link_to 'About' , about_path %></li>
        <li><%= link_to 'PACKAGES' , "#" %></li>
        <li><%= link_to 'STORE' , store_path %></li>
        <li><%= link_to 'BLOG' , blog_path %></li>
        <li><%= link_to 'CONTACT' , "#" %></li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<header class="sub_header sub_header_contact_bg">
  <div class="container">
    <div class="sub_header_title">Blog</div>
    <div class="sub_header_detail">Have a question or comment? Get in touch!</div>
  </div>
</header>

<div class="sub_header_flower"><img src="images/header-flower.png" alt=""></div>

<div class="sub_breadcrumb">
  <div class="white_dashed"></div>
  <div class="container">
    <div class="sub_top_menu">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Shop</a></li>
        <li><a href="">Lawn Movers</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="green_dot_border"></div>

<div class="blog_container">
  <div class="container">
    <div class="col-md-3">
      <div class="col-sm-12 item_left_item">
        <div class="row">
          <div class="blog_categories">Categories</div>
          <!------------ product list-------------->
          <div class="item_price_left_item col-sm-12">
            <div class="accordion-container">
              <a href="#" class="accordion-toggle open">
                <span class="item_list_flower"><img src="images/active_list_flower.png" alt=""></span> Garden Mechinary
                <span class="toggle-icon"><img src="images/item_list_minus.png" alt=""></span>
              </a>

              <div class="accordion-content" style="display:block">
                <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                </ul>

              </div>
              <!--/.accordion-content-->
            </div>
            <!--/.accordion-container-->
            <div class="accordion-container">
              <a href="#" class="accordion-toggle">
                <span class="item_list_flower"><img src="images/none_active_list_flower.png" alt=""></span> Florence
                <span class="toggle-icon"><img src="images/item_list_plus.png" alt=""></i></span>
              </a>

              <div class="accordion-content">
                <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                </ul>
              </div>
              <!--/.accordion-content-->
            </div>
            <!--/.accordion-container-->
            <div class="accordion-container">
              <a href="#" class="accordion-toggle">
                <span class="item_list_flower"><img src="images/none_active_list_flower.png" alt=""></span> Venice
                <span class="toggle-icon"><img src="images/item_list_plus.png" alt=""></i></span>
              </a>

              <div class="accordion-content">
                <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                </ul>
              </div>
              <!--/.accordion-content-->
            </div>
            <!--/.accordion-container-->
            <div class="accordion-container">
              <a href="#" class="accordion-toggle">
                <span class="item_list_flower"><img src="images/none_active_list_flower.png" alt=""></span> Cinque Terre
                <span class="toggle-icon"><img src="images/item_list_plus.png" alt=""></i></span>
              </a>

              <div class="accordion-content">
                <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                </ul>
              </div>
              <!--/.accordion-content-->
            </div>
            <!--/.accordion-container-->
            <div class="accordion-container">
              <a href="#" class="accordion-toggle">
                <span class="item_list_flower"><img src="images/none_active_list_flower.png" alt=""></span> Pompeii
                <span class="toggle-icon"><img src="images/item_list_plus.png" alt=""></i></span>
              </a>

              <div class="accordion-content">
                <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                </ul>
              </div>
              <!--/.accordion-content-->
            </div>
          </div>


          <!------------ product list-------------->
        </div>
      </div>


      <div class="col-sm-12 item_price_left_item">
        <div class="row">
          <div class="blog_categories">Recent Post</div>
          <div class="col-sm-12 filter_item_box">
            <div id="slider-range"></div>
          </div>
          <form method="post" action="get_items.php">
            <input type="hidden" id="amount1">
            <input type="hidden" id="amount2">

            <div class="filter_box">
              <div class="col-sm-6"><input type="submit" name="submit_range" class="submit_range" value="Submit"></div>
              <div class="col-sm-6 item_price_value">Price : <span id="amount"></span></div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-sm-12 blog_left_item">
        <div class="row">
          <div class="blog_categories">Recent Post</div>
          <div class="col-sm-12 recent_post_box">
            <div class="recent_post_cate_name">I myself have realized over the</div>
            <div class="recent_post_cate_date"><img src="images/time_icon.png" alt=""><samp>October 30, 2015</samp>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 paddingNone blog_left_item">

        <div class="offer_limit">
          <div class="offer_limit_title1">Limited Time</div>
          <div class="offer_limit_title2"><span>offer</span></div>
          <div class="offer_limit_text">
            <div class="offer_limit_price">20% OFF</div>
            <div class="offer_limit_price_detail">Save 20% For 2 or More Packahes Within The Same Family</div>
          </div>
        </div>

      </div>


    </div>
    <div class="col-md-9">
      <!---------------- show top list ------->
      <div class="col-sm-12 item_list_change_box">
        <div class="row">
          <div class="col-sm-8">
            <span class="sort_by_span">Sort By: </span>
					   <span class="sort_by_select">
						   <select>
                             <option>Default Sorting</option>
                           </select>
					   </span>

            <span class="show_items_by">Show Items: </span>
					   <span class="show_items_select">
						   <select>
                             <option>9 Per Page</option>
                           </select>
					   </span>
          </div>
          <div class="col-sm-4 text-right">
            <span class="change_section_box"><img src="images/change_section_box_active.png" alt=""></span>
            <span class="change_section_list"><img src="images/change_section_list.png" alt=""></span>
          </div>
        </div>
      </div>
      <!---------------- show top list ------->


      <!-------------- All item  ------------>
      <div class="row all_item_list" id='pt-name'>
        <% if @products.any? %>
        <% @products.each do |product| %>
        <div class="col-md-4 col-sm-6">
          <div class="col-sm-12 item_box">
            <div class="col-sm-12 item_image"><%= link_to image_tag(product.image_url,style:'width: 43%;margin-left: 50px;'), welcome_store_details_path,style:'background-color:none' %></div>
            <div class="col-sm-12 item_title" id='pt-name1'><%= link_to product.name, welcome_store_details_path(image:product.image_url,name:product.name,url:product.url,feature:product.feature,price:product.price) %></div>
            <div class="col-sm-12 item_subtitle">Demo</div>
            <div class="col-sm-12 paddingNone add_card_and_price">
              <div class="col-sm-6 item_add_button paddingNone">Add to Card</div>
              <div class="col-sm-5 paddingNone text-right reviewAndprice">
                <div class="item_price"><%= product.price %></div>
                <div class="item_review">
                  <img src="images/active_star.png" alt=""><img src="images/active_star.png" alt=""><img src="images/none_star.png" alt=""><img src="images/none_star.png" alt=""><img src="images/none_star.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <!-------------- End all item  -------->


      <div class="item_paging">
        <ul>
          <li class="active"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href=""><img src="images/paging-arrow.png" alt=""></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="our_brands_list">
  <div class="our_brands_list_border"></div>
  <div class="container our_brands_list_container">
    <div class="our_brands_list_title">Our Brands</div>
    <div class="our_brands_list_subtitle">Nam lobortis fringilla felis. Fusce vol utpat mi at urna ras quam vitae</div>
    <div class="our_brands_list_name">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>


<div class="return_shipping_detail_border"></div>
<div class="return_shipping_detail">
  <div class="container">
    <div class="col-md-4 return_exchange">
      <div><img src="images/return_policy.png" class="vertical-align" alt=""></div>
      <div>
        <span>Return &amp; Exchange in 5 working days</span>
        <span class="return_exchange_subtitle">Lorem ipsum dolor sit amet consectetur</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-sm-12">
        <div class="col-sm-12 saveoffericonBox">Limited Time offer</div>
      </div>
      <div class="col-sm-12 saveoffer">Get Our Services &amp; Get 25% Off</div>
    </div>
    <div class="col-md-4 return_exchange">
      <div><img src="images/walit.png" class="vertical-align" alt=""></div>
      <div>
        <span>Return &amp; Exchange in 5 working days</span>
        <span class="return_exchange_subtitle">Lorem ipsum dolor sit amet consectetur</span>
      </div>
    </div>
  </div>
</div>


<footer class="col-sm-12">
  <div class="row">
    <div class="container">
      <div class="col-md-3">
        <div><img src="images/footer-logo.png" class="img-responsive" alt=""></div>
        <div class="footer-about-detail">Neque arcu tincidunt neque pharetra code uct modo nibh leo non libero. Cras
          augues ipsum mpharetra inter sed. Integ er anterl nunc accumsan sed tempus rutrum.
        </div>
        <div class="footer-about-readMore">Read More</div>
        <div class="subscribe-newsletter">Subscribe Newsletter</div>
        <div>
          <input type="text" name="name" class="footer-subscribe-input">
          <button class="footer-subscribe-button"><i class="fa fa-envelope-o"></i></button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="latest-tweets-title">Latest Tweets</div>
        <ul class="latest-tweets-list">
          <li>
            <div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
            <div class="latest-tweets-time">1 minute ago</div>
          </li>
          <li>
            <div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
            <div class="latest-tweets-time">1 minute ago</div>
          </li>
          <li>
            <div class="latest-tweets-name">Cras augues ipsum mpharetra inter Integ anterl nunc http://t.co/JGwd</div>
            <div class="latest-tweets-time">1 minute ago</div>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="latest-tweets-title">Instagram Feed</div>
        <ul class="latest-instagram-list">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="col-md-12">
          <div class="latest-tweets-title">Contact Info</div>
          <div class="row contact-fild">
            <div class="col-md-5 contact-title">Address:</div>
            <div class="col-md-7 contact-name">151 West Srpints Road SWCalgary, AB T3H 4P6</div>
          </div>
          <div class="row contact-fild">
            <div class="col-md-5 contact-title">CA Office:</div>
            <div class="col-md-7 contact-name">+ 1 403 612 7767</div>
          </div>
          <div class="row contact-fild">
            <div class="col-lg-5 contact-title">Email:</div>
            <div class="col-lg-7 contact-name">demo@gmail.com</div>
          </div>

          <div class="row contact-fild">
            <div class="send-message-box">Send Message</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-border col-sm-12"></div>
<div class="copyright-Box col-sm-12">
  <div class="container">
    <div class="col-md-6 copyright-text">
      Copyrights Nutritious &amp; Delicious 2015
    </div>
    <div class="col-md-6">
      <ul class="footer-menu-list">
        <li><%= link_to 'HOME' , root_path, :class => 'active' %></li>
        <li><%= link_to 'ABOUT' , about_path %></li>
        <li><%= link_to 'PACKAGES' , "#" %></li>
        <li><%= link_to 'STORE' , store_path %></li>
        <li><%= link_to 'BLOG' , blog_path %></li>
        <li><%= link_to 'CONTACT' , "#" %></li>
      </ul>
    </div>
  </div>
</div>

