<style type="text/css">
    .on-hover img {
        width: 425px;
        height: 282px;
        transition: all 0.9s;
    }

    .on-hover img:hover {
        opacity: 0.9;
        border-radius: 50px 0 50px 0;
    }

</style>
<header class="sub_header sub_header_contact_bg">
  <div class="container">
    <div class="sub_header_title">Contact Us</div>
    <br>

    <div class="sub_header_detail">Have a question or comment? Get in touch!</div>
  </div>
</header>
<div class="sub_header_flower"><img src="../images/header-flower.png" alt=""></div>
<div class="sub_breadcrumb">
  <div class="white_dashed"></div>
  <div class="container">
    <div class="sub_top_menu">
      <ul>
        <li><%= link_to 'HOME', root_path, :class => '' %></li>
        <li><%= link_to 'CONTACT', new_contact_path %></li>
      </ul>
    </div>
  </div>
</div>
<div class="green_white_border"></div>
<div class="contact_infomation">
  <div class="container">
    <div class="col-sm-3 text-center wow bounceInUp">
      <div><img src="../images/location-icon.png" alt=""></div>
      <div class="contact_info_title">Our Location</div>
      <div class="contact_info_subtitle">151 West Sprints Road SW Calgary,<br>
        AB T3H 4P6
      </div>
    </div>
    <div class="col-sm-3 text-center wow bounceInUp">
      <div><img src="../images/call-icon.png" alt=""></div>
      <div class="contact_info_title">Give Us A Call</div>
      <div class="contact_info_subtitle"><a href="tel:+14036127767">Phone: +1 403 612 7767</a></div>
    </div>
    <div class="col-sm-3 text-center wow bounceInUp">
      <div><img src="../images/email-icon.png" alt=""></div>
      <div class="contact_info_title">Email Us</div>
      <div class="contact_info_subtitle"><%= mail_to "nutrition4yoursouls@gmail.com", "nutrition4yoursouls@gmail.com", :style =>"color: black" %></div>
    </div>
    <div class="col-sm-3 text-center wow bounceInUp">
      <div><img src="../images/website-icon.png" alt=""></div>
      <div class="contact_info_title">We Are Social</div>
      <div class="white-social-icons">
        <span><i class="fa fa-facebook"></i></span>
        <span><i class="fa fa-twitter"></i></span>
        <span><i class="fa fa-instagram"></i></span>
        <span><i class="fa fa-linkedin"></i></span>
        <!--<span><i class="fa fa-pinterest-p"></i></span>-->
        <!--<span><i class="fa fa-youtube-play"></i></span>-->
        <!--<span><i class="fa fa-google-plus"></i></span>-->
      </div>
    </div>
  </div>
</div>
<div class="contact_queryinfo">
  <div class="container">
    <div class="col-md-4 wow fadeInUp">
      <div class="working-hours-title">Working Hours</div>
      <div class="working-hours-detail">Nam lobortis fringilla felis sce sed utpat miate urna cras utnec. Lorem ipsum
        dolor sit.
      </div>
      <div class="row contact-days">
        <div class="col-sm-5 working-hours-day">Monday to Friday:</div>
        <div class="col-sm-7 working-hours-time">9:00 AM to 6:00 PM</div>
      </div>
      <div class="row contact-days">
        <div class="col-sm-5 working-hours-day">Saturday:</div>
        <div class="col-sm-7 working-hours-time">10:00 AM to 4:00 PM</div>
      </div>
      <div class="row contact-days">
        <div class="col-sm-5 working-hours-day">Sunday:</div>
        <div class="col-sm-7 working-hours-time">-- Closed --</div>
      </div>
    </div>
    <%= form_for (@contact), :class => "" do |f| %>

        <div class="col-md-8 wow fadeInUp">
          <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <div class="working-hours-title">Say Hello!</div>
          <div class="row">
            <div class="col-md-4">
              <%= f.text_field :name, autofocus: false, required: true, :placeholder => "Full Name" %>
            </div>
            <div class="col-md-4">
              <%= f.email_field :email, required: true, :placeholder => "Email Address" %>
            </div>
            <div class="col-md-4">
              <%= f.text_field :phone_number, :placeholder => "Phone Number" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.text_area :message, required: true, :placeholder => "Your Message" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.submit "Send Message", :class => "contact-submit" %>
            </div>
          </div>
        </div>
        </div>
        </div>
    <% end %>
    <div class="contact-footer-images-list">
      <div class="on-hover"><img src="../images/contact-footer-images-1.png" alt=""></div>
      <div class="on-hover"><img src="../images/contact-footer-images-2.png" alt=""></div>
      <div class="on-hover"><img src="../images/contact-footer-images-3.png" alt=""></div>
    </div>
    <div class="clear"></div>
