<section id="login">

  <div class="container">

    <div class="row">

      <div class="col-xs-12">

        <div class="form-wrap">
          <h2 align="center">Please Login To Continue <br/>
          To The Shopping Cart</h2>
          <br>
          <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <%- flash.each do |name, msg| -%>
                  <%= content_tag :div, msg, id: "flash_#{name}" %>
              <%- end -%>

        <div class="form-group">
          <%#= f.label :email %>
          <%= f.email_field :email, autofocus: true, :placeholder => "Email", :class=>"form-control login_input", :required => true %>
              <!--<input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com">-->
            </div>
            <div class="form-group">
              <label for="key" class="sr-only">Password</label>
              <%= f.password_field :password, autocomplete: "off", :placeholder=>"Password" , :class=>"form-control login_input", :required => true %>

              <!--<input type="password" name="key" id="key" class="form-control" placeholder="Password">-->
            </div>
            <!-- <div class="checkbox"> -->
              <!-- <div> -->
                <%#= f.check_box :remember_me, :style=>"margin-left:0px; position: static;" %>

                <!--<input type="checkbox" style="margin-left:0px; position: static;">-->
                <!-- <span class="label">Remember me</span></div> -->
            <!-- </div> -->
             <div class="col-xs-6" style = "padding-left: 0px;">
              <%= f.submit "LOGIN", :class=>"btn-lg btn-block loginbutton" %>
              </div>
              <!--<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">-->
          <% end %>

          <%= render "devise/shared/links" %>

          <!--<a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Sign up</a>-->
          <!--<a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>-->
          <!--<a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Didn't receive confirmation instructions?</a>-->
          <hr>
        </div>
      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
