<%= form_for [:admin, @category], :class => "navbar-form" do |f| %>
    <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> prohibited this contact from being saved:</h2>

          <ul>
            <% @category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, autofocus: true, required: true %>
    </div>
    <div class="field">
      <%= f.label :search_index %><br/>
      <%= f.text_field :search_index, required: true %>
    </div>
    <div class="field">
      <%= f.label :keyword %><br/>
      <%= f.text_field :keyword, required: true %>
    </div>
    <div class="field">
      <%= f.label :parent %><br/>
      <%= f.text_field :parent_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
