<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Search Index</th>
    <th>Keyword</th>
    <th>Parent category</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.search_index %></td>
        <td><%= category.keyword %></td>
        <td><%= category.parent_id %></td>
        <td><%= link_to 'Show', admin_category_path(category) %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure, You want to delete this particular category?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_admin_category_path %>
