<div class="topborder"></div>
<div class="social-iconBox">
  <div class="container">
    <div class="col-md-9 top-email">
      <span style="font-size:18px;">Bethany Gettis - Certified Holistic Nutritionist™</span>
      <span style="font-size:18px;">+1 403 612 7767 </span>
      
</div>
    <div class="col-md-3 social-icons">
      <span><i class="fa fa-facebook"></i></span>
      <span><i class="fa fa-twitter"></i></span>
      <span><i class="fa fa-instagram"></i></span>
    
</div>
  </div>
  <!--<hr class="hr-dot">-->
</div>
<nav class="navbar navbar-background" role="navigation" style="margin-top: -40px;height: 75px;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle menu_space" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="company-logo" href="#"><img src="../images/logo.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-right-pull" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li style="font-family:'lobster' , cursive;"><%= link_to 'HOME' , root_path, :class => 'link-second-click' %></li>
        <li><%= link_to 'ABOUT' , about_path %></li>
        <li><%= link_to 'PACKAGES' , packages_path %></li>
        <li><%= link_to 'STORE' , store_path %></li>
        <li><%= link_to 'BLOG' , blog_list_path %></li>
        <li><%= link_to 'CONTACT' , new_contact_path %></li>
        <li><!--<input type="text" name="search" class="input-search" placeholder="CONTACT NUTRITIONIST" style="font-weight: bold;font-size:11px">-->
         <li><button type="button" class="cart-icon"> <img src="../images/cart-icon.png">cart: $0.00</button></li>
         

        
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>


<script type="text/javascript">
$(document).ready(function(){
  var maxLength = 450;
  $(".show-read-more").each(function(){
    var myStr = $(this).text();
    if($.trim(myStr).length > maxLength){
      var newStr = myStr.substring(0, maxLength);
      var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
      $(this).empty().html(newStr);
      $(this).append(' <a href="javascript:void(0);" class="read-more"><br><i>read more >>></i></a>');
      $(this).append('<span class="more-text">' + removedStr + '</span>');
    }
  });
  $(".read-more").click(function(){
    $(this).siblings(".more-text").contents().unwrap();
    $(this).remove();
  });
});


$("'[placeholder]'").focus(function() {
  var input = $(this);
  if (input.val() == input.attr("'placeholder'")) {
    input.val("''");
    input.removeClass("'placeholder'");
  }
}).blur(function() {
  var input = $(this);
  if (input.val() == "''" || input.val() == input.attr("'placeholder'")) {
    input.addClass("'placeholder'");
    input.val(input.attr("'placeholder'"));
  }
}).blur();
</script>



