<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Nutritious</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
  <!--<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.css' rel='stylesheet' type='text/css'>-->
  <link rel="stylesheet" href="assets/stylesheets/animation.css">
  <script src="assets/javascripts/wow.min.js"></script>
  <script src="assets/stylesheets/animation.css"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="assets/javascripts/numscroller-1.0.js"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true, 'data-scrolling-animations' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-scrolling-animations' => true %>

  <%= csrf_meta_tags %>
</head>
<style>
    .quest {text-align: center;}

</style>
<body data-scrolling-animations="true">

<%= render "layouts/header" %>
<%= yield %>
<%= render "layouts/footer" %>
<script>
    new WOW().init();
</script>
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body modal_padding_body">
            <!-- content goes here -->
   <p>Recipe Preparation for: Baked Candied Salmon(GF)(DF)</p>
   <h3>INGREDIENTS:</h3>
   <p>0.5 5 sprigs Dill weed, fresh</p>
   <p>0.5 5 sprigs Dill weed, fresh</p>
   <p>0.5 5 sprigs Dill weed, fresh</p>
   <p>0.5 5 sprigs Dill weed, fresh</p>
   <p>0.5 5 sprigs Dill weed, fresh</p>
   <h3>DIRECTIONS:</h3>
   <p>Line a large baking sheet with tin foil, lay fish flat on top. Preheat oven to 400F in a glass measuring</p>
  </div>
 </div>
  </div>
</div>
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
 <div class="modal-content">
  <button type="button" class="btn btn-default close_button_icon" data-dismiss="modal"  role="button">X</button>
  <div class="modal-body">
            <img src="images/slide.png" alt="" class="img-responsive">
  </div>
 </div>
  </div>
</div>

</body>
</html>


