<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Nutritious</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>


<p class="navbar-text pull-right">
  <%# if user_signed_in? %>
      <%#= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
      <%#= link_to "Admin Panel", admin_root_path, :class => 'navbar-link' %>
  <%# end %>
<br>


<br>
<br>

<%#= render 'layouts/middle_nav_bar' %>

<script src="javascript/jquery-1.11.2.min.js"></script>
<script src="javascript/bootstrap.js"></script>


<%= render "layouts/header" %>
<%= yield %>
<%= render "layouts/footer" %>

</body>
</html>


